workflows/Producción/Busca Reservas.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-09T17:58:11.000Z",
    "createdAt": "2026-01-09T17:58:09.575Z",
    "versionId": "573fd3d5-c14a-4756-b3bb-d90f34bcb87f",
    "workflowId": "tmpnJJIMz4aESgXF",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "schema"
              },
              {
                "name": "nombre_cliente"
              },
              {
                "name": "codigo_reserva"
              }
            ]
          }
        },
        "id": "68db3527-2cef-4723-8617-5492305fd9d4",
        "typeVersion": 1.1,
        "name": "Agente Principal",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -832,
          112
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.codigo_reserva.isNotEmpty() }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "dd5f7584-deec-4e9e-9f40-bd5f0e12a78d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Código Reserva"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "aa39cc4b-9351-4191-bf91-12acac59b07f",
                      "leftValue": "={{ $json.nombre_cliente.isNotEmpty() }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Nombre Cliente"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -624,
          112
        ],
        "id": "dec0be84-53e7-4757-a762-96b2055830dc",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "={{ $json.schema }}",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "reservaciones",
            "mode": "list",
            "cachedResultName": "reservaciones"
          },
          "where": {
            "values": [
              {
                "column": "codigo_reserva",
                "value": "={{ $json.codigo_reserva }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          0,
          0
        ],
        "id": "c8794b0f-8846-4f51-aa29-dde8ba9f6980",
        "name": "Select Codigo",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT codigo_reserva, cliente, fecha_reservacion, hora_reservacion, numero_personas, zona, estado, email_contacto,telefono_contacto,notas\nFROM {{ $('Agente Principal').item.json.schema }}.reservaciones\nWHERE cliente ilike $1\nAND fecha_reservacion > (CURRENT_DATE AT TIME ZONE 'America/Argentina/Buenos_Aires') - INTERVAL '1 day';",
          "options": {
            "queryReplacement": "=%{{ $('Agente Principal').item.json.nombre_cliente }}%"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          0,
          256
        ],
        "id": "d108a32c-e669-49c3-b766-ef79478205ae",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "b7051ad6-b3f8-46d3-8880-3d00654ca0fa",
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          384,
          112
        ],
        "id": "f23baeb1-054c-424d-a7db-79ba559a3199",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b9bd4430-5395-488a-bf46-68734c9590e8",
                "name": "Response",
                "value": "No se encontraron reservaciones actuales o futuras con la información proporcionada.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          768,
          32
        ],
        "id": "54df3c00-1385-47c9-bae5-20ff8227ecaf",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsCode": "// Agrupar con formato de fecha legible\nconst groupedReservation = {\n  cliente: items[0].json.cliente,\n  email_contacto: items[0].json.email_contacto,\n  telefono_contacto: items[0].json.telefono_contacto,\n  total_reservas: items.length,\n  reservas: items.map(item => {\n    const fecha = new Date(item.json.fecha_reservacion);\n    return {\n      codigo_reserva: item.json.codigo_reserva,\n      fecha_reservacion: item.json.fecha_reservacion,\n      fecha_legible: fecha.toLocaleDateString('es-AR'),\n      hora_reservacion: item.json.hora_reservacion,\n      numero_personas: item.json.numero_personas,\n      zona: item.json.zona,\n      estado: item.json.estado,\n      notas: item.json.notas\n    };\n  }).sort((a, b) => new Date(a.fecha_reservacion) - new Date(b.fecha_reservacion))\n};\n\n// Calcular total de personas\ngroupedReservation.total_personas = groupedReservation.reservas.reduce((sum, reserva) => sum + reserva.numero_personas, 0);\n\nreturn [{ json: groupedReservation }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          752,
          272
        ],
        "id": "268093f2-f267-4bfb-8014-2237d7ca4f88",
        "name": "Get Data"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "14e285f5-f110-47b3-a1fc-d081b3a3a759",
                "leftValue": "={{ /^OSK-\\d{6}-[A-Z]{4}$/.test($json.codigo_reserva) }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -368,
          -16
        ],
        "id": "a5485e8d-4077-4e7e-a883-baa042b62687",
        "name": "If1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cc33b4df-2fae-4854-9644-7eb8df6236b2",
                "name": "Response",
                "value": "No proporcionaste un código válido, p. ej. \"OSK-YYMMDD-XXXX\". Corrige y vuelve a llamar a la herramienta.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          0,
          -176
        ],
        "id": "a8185629-f509-49c2-a981-117ae3904f18",
        "name": "Response Código Erroneo"
      }
    ],
    "connections": {
      "Agente Principal": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Codigo": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Response Código Erroneo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Select Codigo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": "Version 573fd3d5",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "573fd3d5-c14a-4756-b3bb-d90f34bcb87f",
  "connections": {
    "Agente Principal": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Codigo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Response Código Erroneo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Codigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T18:00:58.254Z",
  "id": "tmpnJJIMz4aESgXF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Busca Reservas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "schema"
            },
            {
              "name": "nombre_cliente"
            },
            {
              "name": "codigo_reserva"
            }
          ]
        }
      },
      "id": "68db3527-2cef-4723-8617-5492305fd9d4",
      "typeVersion": 1.1,
      "name": "Agente Principal",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -832,
        112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.codigo_reserva.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "dd5f7584-deec-4e9e-9f40-bd5f0e12a78d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Código Reserva"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa39cc4b-9351-4191-bf91-12acac59b07f",
                    "leftValue": "={{ $json.nombre_cliente.isNotEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nombre Cliente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -624,
        112
      ],
      "id": "dec0be84-53e7-4757-a762-96b2055830dc",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "reservaciones",
          "mode": "list",
          "cachedResultName": "reservaciones"
        },
        "where": {
          "values": [
            {
              "column": "codigo_reserva",
              "value": "={{ $json.codigo_reserva }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "c8794b0f-8846-4f51-aa29-dde8ba9f6980",
      "name": "Select Codigo",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT codigo_reserva, cliente, fecha_reservacion, hora_reservacion, numero_personas, zona, estado, email_contacto,telefono_contacto,notas\nFROM {{ $('Agente Principal').item.json.schema }}.reservaciones\nWHERE cliente ilike $1\nAND fecha_reservacion > (CURRENT_DATE AT TIME ZONE 'America/Argentina/Buenos_Aires') - INTERVAL '1 day';",
        "options": {
          "queryReplacement": "=%{{ $('Agente Principal').item.json.nombre_cliente }}%"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        256
      ],
      "id": "d108a32c-e669-49c3-b766-ef79478205ae",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7051ad6-b3f8-46d3-8880-3d00654ca0fa",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        112
      ],
      "id": "f23baeb1-054c-424d-a7db-79ba559a3199",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9bd4430-5395-488a-bf46-68734c9590e8",
              "name": "Response",
              "value": "No se encontraron reservaciones actuales o futuras con la información proporcionada.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        32
      ],
      "id": "54df3c00-1385-47c9-bae5-20ff8227ecaf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Agrupar con formato de fecha legible\nconst groupedReservation = {\n  cliente: items[0].json.cliente,\n  email_contacto: items[0].json.email_contacto,\n  telefono_contacto: items[0].json.telefono_contacto,\n  total_reservas: items.length,\n  reservas: items.map(item => {\n    const fecha = new Date(item.json.fecha_reservacion);\n    return {\n      codigo_reserva: item.json.codigo_reserva,\n      fecha_reservacion: item.json.fecha_reservacion,\n      fecha_legible: fecha.toLocaleDateString('es-AR'),\n      hora_reservacion: item.json.hora_reservacion,\n      numero_personas: item.json.numero_personas,\n      zona: item.json.zona,\n      estado: item.json.estado,\n      notas: item.json.notas\n    };\n  }).sort((a, b) => new Date(a.fecha_reservacion) - new Date(b.fecha_reservacion))\n};\n\n// Calcular total de personas\ngroupedReservation.total_personas = groupedReservation.reservas.reduce((sum, reserva) => sum + reserva.numero_personas, 0);\n\nreturn [{ json: groupedReservation }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        272
      ],
      "id": "268093f2-f267-4bfb-8014-2237d7ca4f88",
      "name": "Get Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14e285f5-f110-47b3-a1fc-d081b3a3a759",
              "leftValue": "={{ /^OSK-\\d{6}-[A-Z]{4}$/.test($json.codigo_reserva) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -368,
        -16
      ],
      "id": "a5485e8d-4077-4e7e-a883-baa042b62687",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc33b4df-2fae-4854-9644-7eb8df6236b2",
              "name": "Response",
              "value": "No proporcionaste un código válido, p. ej. \"OSK-YYMMDD-XXXX\". Corrige y vuelve a llamar a la herramienta.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        -176
      ],
      "id": "a8185629-f509-49c2-a981-117ae3904f18",
      "name": "Response Código Erroneo"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZpYgShc1li13uf3h"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T18:00:58.259Z",
      "createdAt": "2025-12-11T18:00:58.259Z",
      "role": "workflow:owner",
      "workflowId": "tmpnJJIMz4aESgXF",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-11T13:58:58.227Z",
      "createdAt": "2026-01-11T13:58:58.227Z",
      "id": "KkeQFkJULwWdcCpc",
      "name": "Producción"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T21:19:42.828Z",
  "versionId": "573fd3d5-c14a-4756-b3bb-d90f34bcb87f"
}