workflows/Producción/Clean Historial.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-16T00:56:47.609Z",
    "createdAt": "2025-12-16T00:56:47.609Z",
    "versionId": "0e7722a9-7a4f-43c8-a1ac-8405a8a21de8",
    "workflowId": "SE72Ai2TZfRQ1ulJ",
    "nodes": [
      {
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "value": "={{ $json.schema }}",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "={{ $json.chat_history_table }}",
            "mode": "name"
          },
          "deleteCommand": "delete",
          "where": {
            "values": [
              {
                "column": "session_id",
                "value": "={{ $json.sessionId }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          144,
          144
        ],
        "id": "9365cbdf-179c-44f8-ac96-01fd8fa685f8",
        "name": "Clean Histories",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "operation": "deleteTable",
          "schema": {
            "__rl": true,
            "value": "={{ $json.schema }}",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "clientes",
            "mode": "list",
            "cachedResultName": "clientes"
          },
          "deleteCommand": "delete",
          "where": {
            "values": [
              {
                "column": "telefono",
                "value": "={{ $json.telefono }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          144,
          320
        ],
        "id": "a22836e8-ae6d-4211-a3f4-e1bb8af71e02",
        "name": "Clean Cliente Matrix",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telefono",
                "type": "number"
              },
              {
                "name": "sessionId"
              },
              {
                "name": "schema"
              },
              {
                "name": "canal"
              },
              {
                "name": "chat_history_table"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -400,
          256
        ],
        "id": "a440b791-1aa9-4d09-8067-40589ae52851",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          448,
          256
        ],
        "id": "685f0d5a-3c7e-4a12-be48-1142f020d279",
        "name": "Merge"
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {}
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          624,
          256
        ],
        "id": "6474d3e1-cff8-4529-9cdb-c3a21f1490e5",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7b7f40ac-64ee-4d4f-bfd4-e8202dd4b286",
                "name": "Response",
                "value": "OK",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          800,
          256
        ],
        "id": "9c958425-ae44-4dda-8aae-11e6a073c407",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Clean Histories": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clean Cliente Matrix": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Clean Cliente Matrix",
              "type": "main",
              "index": 0
            },
            {
              "node": "Clean Histories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "0e7722a9-7a4f-43c8-a1ac-8405a8a21de8",
  "connections": {
    "Clean Histories": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Cliente Matrix": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Clean Cliente Matrix",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clean Histories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T17:24:37.324Z",
  "id": "SE72Ai2TZfRQ1ulJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Clean Historial",
  "nodes": [
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json.chat_history_table }}",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        144
      ],
      "id": "9365cbdf-179c-44f8-ac96-01fd8fa685f8",
      "name": "Clean Histories",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "={{ $json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefono",
              "value": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        320
      ],
      "id": "a22836e8-ae6d-4211-a3f4-e1bb8af71e02",
      "name": "Clean Cliente Matrix",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefono",
              "type": "number"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "schema"
            },
            {
              "name": "canal"
            },
            {
              "name": "chat_history_table"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        256
      ],
      "id": "a440b791-1aa9-4d09-8067-40589ae52851",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        256
      ],
      "id": "685f0d5a-3c7e-4a12-be48-1142f020d279",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "6474d3e1-cff8-4529-9cdb-c3a21f1490e5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b7f40ac-64ee-4d4f-bfd4-e8202dd4b286",
              "name": "Response",
              "value": "OK",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        256
      ],
      "id": "9c958425-ae44-4dda-8aae-11e6a073c407",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZpYgShc1li13uf3h"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T17:24:37.329Z",
      "createdAt": "2025-12-11T17:24:37.329Z",
      "role": "workflow:owner",
      "workflowId": "SE72Ai2TZfRQ1ulJ",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-11T13:58:58.227Z",
      "createdAt": "2026-01-11T13:58:58.227Z",
      "id": "KkeQFkJULwWdcCpc",
      "name": "Producción"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T21:18:38.975Z",
  "versionId": "0e7722a9-7a4f-43c8-a1ac-8405a8a21de8"
}