workflows/Producción/Envia PDF.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-05T15:51:20.000Z",
    "createdAt": "2026-05-05T15:51:16.568Z",
    "versionId": "3e63cb75-5067-43b6-9c04-3d9137894292",
    "workflowId": "pKVAY1ta2mKZ9sSC",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "instance"
              },
              {
                "name": "remoteJid"
              },
              {
                "name": "keyId"
              },
              {
                "name": "mensaje"
              }
            ]
          }
        },
        "id": "3deb94c7-bf3d-4d62-8199-b6d979c0340a",
        "typeVersion": 1.1,
        "name": "Main Agent",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -864,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a92fb27a-c7db-4cdf-aaf9-37af75ba6cf7",
                "name": "Response",
                "value": "Se ha enviado el archivo",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          592,
          288
        ],
        "id": "34602f03-e479-4b95-a3ad-dbba14dad443",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://evolution-api-evolution-api.2hxkvh.easypanel.host/message/sendMedia/{{ $json.instance }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "={{ $json.keyId }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "={{ $json.remoteJid }}"
              },
              {
                "name": "mediatype",
                "value": "=document"
              },
              {
                "name": "media",
                "value": "=https://osakisushi.com/descargas/menu.pdf"
              },
              {
                "name": "fileName",
                "value": "Osaki-Menu.pdf"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          16
        ],
        "id": "071590d8-dbd0-4fc7-aa7e-3a3c5cc0f092",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e8563943-696f-4f56-85d1-5d95cfaef2c1",
                "leftValue": "={{ $json.remoteJid }}",
                "rightValue": "@",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -544,
          256
        ],
        "id": "c74e2297-b68d-4197-bacb-cd8623250382",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2c9cff1f-017f-43a6-ba8f-1dc57a522c91",
                "leftValue": "={{ $json.remoteJid }}",
                "rightValue": "-",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -192,
          272
        ],
        "id": "de547db7-58e3-4439-94b1-2a1e21b79b1d",
        "name": "If1"
      },
      {
        "parameters": {
          "operation": "sendDocument",
          "chatId": "={{ $json.remoteJid.split('-')[0] }}",
          "file": "https://osakisushi.com/descargas/menu.pdf",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          80,
          160
        ],
        "id": "5adf808e-09de-49cf-b0d3-e8ffd09fba14",
        "name": "Send a document",
        "webhookId": "9a29471f-5a78-4d28-a5e6-b99aeee450ac",
        "credentials": {
          "telegramApi": {
            "id": "KmmVDBdxNsFsr80s",
            "name": "Telegram Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "operation": "send-document",
          "instanceName": "={{ $json.instance }}",
          "remoteJid": "={{ $json.remoteJid }}",
          "media": "https://osakisushi.com/descargas/menu.pdf",
          "caption": "=Menú Osaki Restó - Calle 47",
          "fileName": "Menu_Osaki.pdf",
          "options_message": {
            "delay": 1200
          }
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          80,
          0
        ],
        "id": "f9f0fd18-164d-494e-8f4e-6c3962ddac67",
        "name": "Enviar documento",
        "credentials": {
          "evolutionApi": {
            "id": "9xktnR3DFRTQS3QC",
            "name": "Evolution Osaki"
          }
        }
      }
    ],
    "connections": {
      "Main Agent": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          []
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Enviar documento",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send a document",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a document": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar documento": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": "Version 3e63cb75",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "3e63cb75-5067-43b6-9c04-3d9137894292",
  "connections": {
    "Main Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enviar documento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a document": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar documento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T17:54:28.880Z",
  "id": "pKVAY1ta2mKZ9sSC",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Envia PDF",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "instance"
            },
            {
              "name": "remoteJid"
            },
            {
              "name": "keyId"
            },
            {
              "name": "mensaje"
            }
          ]
        }
      },
      "id": "3deb94c7-bf3d-4d62-8199-b6d979c0340a",
      "typeVersion": 1.1,
      "name": "Main Agent",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -864,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a92fb27a-c7db-4cdf-aaf9-37af75ba6cf7",
              "name": "Response",
              "value": "Se ha enviado el archivo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        288
      ],
      "id": "34602f03-e479-4b95-a3ad-dbba14dad443",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-evolution-api.2hxkvh.easypanel.host/message/sendMedia/{{ $json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.keyId }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "mediatype",
              "value": "=document"
            },
            {
              "name": "media",
              "value": "=https://osakisushi.com/descargas/menu.pdf"
            },
            {
              "name": "fileName",
              "value": "Osaki-Menu.pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        16
      ],
      "id": "071590d8-dbd0-4fc7-aa7e-3a3c5cc0f092",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8563943-696f-4f56-85d1-5d95cfaef2c1",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        256
      ],
      "id": "c74e2297-b68d-4197-bacb-cd8623250382",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c9cff1f-017f-43a6-ba8f-1dc57a522c91",
              "leftValue": "={{ $json.remoteJid }}",
              "rightValue": "-",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        272
      ],
      "id": "de547db7-58e3-4439-94b1-2a1e21b79b1d",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.remoteJid.split('-')[0] }}",
        "file": "https://osakisushi.com/descargas/menu.pdf",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        160
      ],
      "id": "5adf808e-09de-49cf-b0d3-e8ffd09fba14",
      "name": "Send a document",
      "webhookId": "9a29471f-5a78-4d28-a5e6-b99aeee450ac",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "={{ $json.instance }}",
        "remoteJid": "={{ $json.remoteJid }}",
        "media": "https://osakisushi.com/descargas/menu.pdf",
        "caption": "=Menú Osaki Restó - Calle 47",
        "fileName": "Menu_Osaki.pdf",
        "options_message": {
          "delay": 1200
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "f9f0fd18-164d-494e-8f4e-6c3962ddac67",
      "name": "Enviar documento",
      "credentials": {
        "evolutionApi": {
          "id": "9xktnR3DFRTQS3QC",
          "name": "Evolution Osaki"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZpYgShc1li13uf3h",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T17:54:28.884Z",
      "createdAt": "2025-12-11T17:54:28.884Z",
      "role": "workflow:owner",
      "workflowId": "pKVAY1ta2mKZ9sSC",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-11T13:58:58.227Z",
      "createdAt": "2026-01-11T13:58:58.227Z",
      "id": "KkeQFkJULwWdcCpc",
      "name": "Producción"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-05-05T15:51:16.567Z",
  "versionId": "3e63cb75-5067-43b6-9c04-3d9137894292"
}