workflows/Producción/Seguimiento Pedidos.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-03T17:44:54.000Z",
    "createdAt": "2026-01-03T17:44:09.347Z",
    "versionId": "d58ef466-828d-4ecd-8924-2dfa991292c1",
    "workflowId": "YyCSqqoRIU2cXypG",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "cod_pedido"
              },
              {
                "name": "nombre_cliente"
              },
              {
                "name": "schema"
              },
              {
                "name": "sessionId"
              },
              {
                "name": "nombre_sucursal"
              },
              {
                "name": "numero_sucursal",
                "type": "number"
              },
              {
                "name": "datos_adicionales"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -880,
          256
        ],
        "id": "8e0b4229-b8a3-4543-a0e5-0d9799cb0f67",
        "name": "Main_Agent"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -64,
          288
        ],
        "id": "fde5ff94-5407-4238-aad2-a2a516ea4ce9",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    a.idVenta,\n    CASE \n        WHEN TRIM(COALESCE(a.CodigoPedidoPlataforma, '')) = '' THEN 'TAKE AWAY'\n        ELSE REGEXP_SUBSTR(a.CodigoPedidoPlataforma, '[0-9]+$')\n    END AS CodigoPedidoPlataforma,\n    d.nombre as Nombre\nFROM osakisucursal{{ $json.numero_sucursal }}.ventas_datospedido a\nJOIN osakisucursal{{ $json.numero_sucursal }}.ventas b\n    ON b.IdVenta = a.IdVenta\nJOIN osakisucursal{{ $json.numero_sucursal }}.clientespedidos_lugaresentrega c\n    ON a.IdClientePedido = c.IdClientePedido \n    AND a.IdLugarEntrega = c.IdLugarEntrega\nJOIN osakisucursal{{ $json.numero_sucursal }}.clientespedidos d\n    ON a.IdClientePedido = d.IdClientePedido\nWHERE b.FechaHoraApertura >= DATE_SUB(NOW(), INTERVAL 16 HOUR)\nORDER BY a.idVenta ASC;\n",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -448,
          272
        ],
        "id": "0ba968e8-52a5-4ee4-aaea-f9c085f87703",
        "name": "Obtiene Registros osakisucursal",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "sFauwBpvViqW5yF3",
            "name": "MySQL Osaki-Ayres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "\n\nSELECT a.idventa, \nCASE \nWHEN a.EntregaTipo = '1' THEN 'Delivery Osaki' \nWHEN a.EntregaTipo = '2' THEN 'Mostrador' \nWHEN a.EntregaTipo = '3' THEN 'Delivery Externo' \nEND AS TipoEntrega,\nreplace(replace(e.descripcion,'Osaki2-',''),'Osaki-','') as plataforma,\n    CASE \n        WHEN TRIM(COALESCE(a.CodigoPedidoPlataforma, '')) = '' THEN 'TAKE AWAY'\n        ELSE REGEXP_SUBSTR(a.CodigoPedidoPlataforma, '[0-9]+$')\n    END AS CodigoPedidoPlataforma,\nCASE WHEN b.Etapa = 'EP' THEN 'En Preparación'\n     WHEN b.Etapa = 'PR' THEN 'Preparado'\n     WHEN b.Etapa = 'PE' THEN 'Por Entregar'\n     WHEN b.Etapa = 'EV' THEN 'En Viaje'\n     WHEN (b.Etapa = 'E' AND a.EntregaTipo in ('3','1') ) THEN 'En reparto'\n     WHEN (b.Etapa = 'E' AND a.EntregaTipo = '2' ) THEN 'Listo para retiro'\n     WHEN b.Etapa = 'RG' THEN 'Pedido Cancelado'\n     ELSE 'Sin Clasificación' END as etapaPedido,\n      d.nombre as Nombre, c.Telefono, c.Calle, c.Numero, c.EntreCalles, c.Localidad, c.Observaciones,\nCASE WHEN A.CanceladoExterno = 0 THEN 'No'\n     ELSE 'Sí' END as PedidoCancelado,\n CASE \n    WHEN b.Observaciones LIKE '%|%' THEN TRIM(SUBSTRING_INDEX(b.Observaciones, '|', -1))\n    ELSE NULL\n    END as Observaciones_Pedido, b.FechaContable as diaPedido,\n     b.FechaHoraApertura as FechaHoraInicio,\n\t a.FechaHoraPreparado,\n\ta.FechaHoraEntregado as FechaHoraSalidaCocina,\n    a.FechaHoraEntrega as FechaHoraEstimadoSalidaAEntrega,\n     a.FechaHoraEnViaje\nfrom osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_datospedido a\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas b\non (b.IdVenta=a.IdVenta)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.clientespedidos_lugaresentrega c\non (a.IdClientePedido = c.IdClientePedido and a.IdLugarEntrega = c.IdLugarEntrega)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.clientespedidos d\non (a.IdClientePedido = d.IdClientePedido)\njoin osakicentral.tvc_pedidos_plataformas e\non (e.IdIntegracionPedidos = a.IdIntegracionPedidos)\nwhere b.FechaHoraApertura >= DATE_SUB(NOW(), INTERVAL 24 HOUR)\nand (a.IdVenta =$1 or a.CodigoPedidoPlataforma=$1)\n;",
          "options": {
            "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          272,
          592
        ],
        "id": "1a1dda9a-93ad-4b2e-a802-23d22f8bde79",
        "name": "Detalle Pedido",
        "credentials": {
          "mySql": {
            "id": "sFauwBpvViqW5yF3",
            "name": "MySQL Osaki-Ayres"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "\nSELECT c.IdArticulo, a.IdVenta, c.Descripcion as Articulo, c.DescripcionDetalle as Articulo_Detalle, b.Observaciones\nFROM osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_comandas A\nJOIN osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_comandas_items B\nON (a.IdComanda= b.IdComanda)\njoin osakicentral.articulos C\nON (b.IdArticulo=c.IdArticulo)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_datospedido d\non (d.IdVenta=a.IdVenta)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.clientespedidos e\non (e.IdClientePedido = d.IdClientePedido) \njoin osakicentral.tvc_pedidos_plataformas f\non (d.IdIntegracionPedidos = f.IdIntegracionPedidos)\njoin  osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas g\non (g.IdVenta=d.IdVenta)\nwhere g.FechaHoraApertura >= DATE_SUB(NOW(), INTERVAL 24 HOUR)\nand c.IdArticulo not in (551,549,548,550)\nand (g.IdVenta =$1 or d.CodigoPedidoPlataforma=$1)\n;",
          "options": {
            "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          400,
          592
        ],
        "id": "1cd55290-173f-4b4b-a876-3559a8b3e023",
        "name": "Detalle Comanda",
        "credentials": {
          "mySql": {
            "id": "sFauwBpvViqW5yF3",
            "name": "MySQL Osaki-Ayres"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=El usuario desea hacer el seguimiento de su pedido y proporcionó los datos con los que cuenta:\n- cod_pedido: {{ $('Main_Agent').item.json.cod_pedido ||'No proporcionado' }}\n- nombre_cliente: {{ $('Main_Agent').item.json.nombre_cliente }}\n- nombre_sucursal: {{ $('Main_Agent').item.json.nombre_sucursal }}\n- datos_adicionales: {{ $('Main_Agent').item.json.datos_adicionales }}\n\n\nEl sistema cuenta con los siguientes pedidos para buscarlo:\n{{ JSON.stringify($json.data) }}",
          "needsFallback": true,
          "options": {
            "systemMessage": "=### 0) Rol y Propósito\nEres un Agente de Rastreo de Pedidos Logísticos. Tu función es validar matemáticamente IDs y reportar estatus.\n**REGLA DE ORO:** Prioriza la EXACTITUD. Nunca asumas un pedido si los números no coinciden según la lógica estricta de abajo.\n\n---\n\n## 1) Protocolo de Búsqueda y Validación (CRÍTICO)\n\nAntes de seleccionar un pedido, ejecuta esta validación lógica estricta.\n\n**Lógica de Coincidencia: \"Sufijo Exacto\" (EndsWith)**\nCompara el `cod_pedido` proporcionado por el usuario contra el `CodigoPedidoPlataforma` (o `idVenta`) de la lista.\n* **REGLA:** El código de la base de datos debe **TERMINAR** exactamente con los dígitos proporcionados por el usuario.\n* Si el usuario da pocos dígitos, estos deben coincidir perfectamente con el final del ID en base de datos.\n\n**Tabla de Verdad (Ejemplos):**\n* Usuario: `6131738` | DB: `1826131738` -> ✅ **MATCH** (El DB termina en 6131738).\n* Usuario: `882734`  | DB: `8535586`    -> ❌ **NO MATCH** (5586 no es 2734).\n* Usuario: `53252`   | DB: `53252`      -> ✅ **MATCH** (Exacto).\n* Usuario: `123`     | DB: `123456`     -> ❌ **NO MATCH** (Empieza con 123, pero termina en 456).\n\n**Decisión:**\n1.  Busca en la lista aplicando esta regla.\n2.  Si encuentras **UNO** que cumpla -> Ejecuta herramientas (Plantilla 5.1).\n3.  Si encuentras **VARIOS** -> Toma el más reciente (ID más alto).\n4.  Si **NINGUNO** cumple -> Reporta \"No Encontrado\" (Plantilla 5.2).\n\n---\n\n## 2) Contrato de Herramientas (Solo si hay ✅ Match)\n\nSi validaste el pedido exitosamente, usa el `idVenta` (ID interno numérico) para consultar.\n\n### 2.1 Herramienta \"Detalle Pedido\"\n* **Argumento:** `Query_Parameters` = `\"[idVenta]\"` (String numérico).\n\n### 2.2 Herramienta \"Detalle Comanda\"\n* **Argumento:** `Query_Parameters` = `\"[idVenta]\"` (String numérico).\n* **Limpieza:** Muestra `Cantidad` + `Nombre del Item`. Corta descripciones largas.\n\n---\n\n## 3) Reglas de Visualización y Saneamiento\n\n**3.1 Saneamiento de Línea de Tiempo:**\nSolo muestra eventos con hora válida (NOT NULL).\n1.  **Filtro:** Si `FechaHoraEstimadoSalidaAEntrega` es <= `FechaHoraInicio`, **OMITELA** (Dato sistema inválido).\n2.  **Etiquetas Dinámicas:**\n    * `FechaHoraInicio` -> \"Recibido\"\n    * `FechaHoraPreparado` -> \"Terminó Preparación\"\n    * `FechaHoraSalidaCocina` (Si es Mostrador) -> **\"Listo para retirar\"**\n    * `FechaHoraSalidaCocina` (Si es Delivery) -> \"Salió de Cocina\"\n    * `FechaHoraEnViaje` -> \"En Camino / Retirado\"\n    * `FechaHoraEntregado` -> \"Entregado\"\n\n**3.2 Privacidad:**\n* NUNCA muestres el `idVenta` interno al usuario. Usa siempre `CodigoPedidoPlataforma`.\n\n---\n\n## 4) Lógica de Notas (CONDICIONALES)\n\n**REGLA:** Si el estado es 'Entregado' o 'Listo para retiro', **NO** agregues notas de tiempo estimado.\nSolo agrega notas si el pedido está en proceso activo:\n\n* **CASO A (Delivery App):** `TipoEntrega` = 'Delivery Externo' AND `plataforma` LIKE '%Pedidos%'.\n    * Nota: \"📱 **Seguimiento:** Una vez listo, sigue el pedido desde la App de Pedidos Ya.\"\n* **CASO B (Delivery Propio):** `TipoEntrega` = 'Delivery Osaki'.\n    * Nota: \"🛵 **Tiempo estimado:** Una vez salga de cocina, la entrega toma 15-30 min.\"\n* **CASO C (Mostrador):** `TipoEntrega` IN ('Mostrador', 'Take Away').\n    * Nota: \"🥡 **Tiempo estimado:** La preparación suele demorar 15-20 min.\"\n\n---\n\n## 5) Plantillas de Salida (ESTRICTAS)\n\nUsa una de las dos plantillas siguientes. No agregues texto introductorio.\n\n### 5.1 Caso MATCH ENCONTRADO:\n```text\nEl pedido a nombre de **[Nombre Cliente]** con código de pedido **#[CodigoPedidoPlataforma]** cuenta con estos datos a este momento:\n\n📊 **Estado Actual:** [etapaPedido]\n*(Solo si etapaPedido == 'En Viaje': \"El repartidor salió a las [HoraEnViaje]\")*\n\n🕒 **Línea de Tiempo:**\n* [HH:MM] - [Etiqueta Evento]\n* [HH:MM] - [Etiqueta Evento]\n\n🛒 **Tu Comanda:**\n* **[Nombre Articulo]:** [Cantidad] [Detalle Corto]\n\n📍 **Datos de Entrega:**\n* **Método:** [TipoEntrega]\n* **Destino:** [Calle] [Numero] *(Omitir si es NULL)*\n\n[Insertar Nota Informativa Sección 4 (Solo si aplica)]\n\n* La Hora actual es: *[HH:MM]*\n```\n---\n### 5.2 Caso NO ENCONTRADO (Default):\n```text\n* **Operación:** Búsqueda de Pedido\n* **Resultado:** No Encontrado\n* **Sucursal Consultada:** **[Nombre Sucursal]**\n* **Código de Pedido Proporcionado:** **#[codigoPedidoProporcionado]**\n* **Nombre del Cliente Proporcionado:** **[nombreClienteProporcionado]**\n* Posible Razones:\n  - Pedido reciente no reflejado en sistema\n  - Datos incorrectos (nombre o código)\n- **Sugerencia:** Verificar datos o escalar consulta a agente humano\n* La Hora actual es: *[HH:MM]*\n``` \n\n---\n### 6) Configuración Regional\nTZ: America/Argentina/Buenos_Aires\n\nFormato Hora: HH:mm (24h)\n\nFecha Actual: {{ (() => { const d = new Date($now); return d.toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', hour: '2-digit', minute: '2-digit', hour12: false }); })() }}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          176,
          288
        ],
        "id": "bda5492e-85f4-4f84-b0bc-655c7b77298a",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          176,
          512
        ],
        "id": "8649cd75-9792-479f-bb09-38e467d902e6",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "fATP1TjAWkMAqBDc",
            "name": "OpenAi Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          80,
          512
        ],
        "id": "17292767-0abb-49ad-a3a5-c3411e3713f7",
        "name": "Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "OAlDnAQJQHCtNBVS",
            "name": "Google Gemini(PaLM) Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "056630d7-22f1-475a-ab64-7b1a6f1bb855",
                "leftValue": "={{ $json.numero_sucursal <= 0  }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -704,
          256
        ],
        "id": "2a8529c3-971d-4bd4-b45e-c9b4713c2344",
        "name": "If1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0f1af2bc-157f-419b-b7b4-809c40435a10",
                "leftValue": "={{ $json.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -272,
          272
        ],
        "id": "db0f6094-02de-4cd8-a5b0-8cce5a005791",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "808c566b-82f0-406e-af31-a2c265ecb241",
                "name": "Response",
                "value": "El número de sucursal no puede ser 0 o venir nulo. ",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -448,
          112
        ],
        "id": "dfab84e2-28a2-4f4f-9948-f62b2ad66969",
        "name": "Sucursal Nulo"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0682c5fc-d3db-49a0-bb3a-e201dd5a96f7",
                "name": "Response",
                "value": "La sucursal seleccionada no tiene ningún registro para el día en curso o futuros, confirma datos.",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -64,
          128
        ],
        "id": "c9a02b41-cfe2-47df-a8f4-68674ee7496b",
        "name": "Sucursal sin datos"
      }
    ],
    "connections": {
      "Main_Agent": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtiene Registros osakisucursal": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Detalle Pedido": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Detalle Comanda": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 1
            }
          ]
        ]
      },
      "Gemini": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Sucursal Nulo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obtiene Registros osakisucursal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Sucursal sin datos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": "Version d58ef466",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "d58ef466-828d-4ecd-8924-2dfa991292c1",
  "connections": {
    "Main_Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene Registros osakisucursal": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detalle Pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Detalle Comanda": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Sucursal Nulo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtiene Registros osakisucursal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sucursal sin datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T17:44:38.678Z",
  "id": "YyCSqqoRIU2cXypG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Seguimiento Pedidos",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cod_pedido"
            },
            {
              "name": "nombre_cliente"
            },
            {
              "name": "schema"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "nombre_sucursal"
            },
            {
              "name": "numero_sucursal",
              "type": "number"
            },
            {
              "name": "datos_adicionales"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        256
      ],
      "id": "8e0b4229-b8a3-4543-a0e5-0d9799cb0f67",
      "name": "Main_Agent"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -64,
        288
      ],
      "id": "fde5ff94-5407-4238-aad2-a2a516ea4ce9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    a.idVenta,\n    CASE \n        WHEN TRIM(COALESCE(a.CodigoPedidoPlataforma, '')) = '' THEN 'TAKE AWAY'\n        ELSE REGEXP_SUBSTR(a.CodigoPedidoPlataforma, '[0-9]+$')\n    END AS CodigoPedidoPlataforma,\n    d.nombre as Nombre\nFROM osakisucursal{{ $json.numero_sucursal }}.ventas_datospedido a\nJOIN osakisucursal{{ $json.numero_sucursal }}.ventas b\n    ON b.IdVenta = a.IdVenta\nJOIN osakisucursal{{ $json.numero_sucursal }}.clientespedidos_lugaresentrega c\n    ON a.IdClientePedido = c.IdClientePedido \n    AND a.IdLugarEntrega = c.IdLugarEntrega\nJOIN osakisucursal{{ $json.numero_sucursal }}.clientespedidos d\n    ON a.IdClientePedido = d.IdClientePedido\nWHERE b.FechaHoraApertura >= DATE_SUB(NOW(), INTERVAL 16 HOUR)\nORDER BY a.idVenta ASC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -448,
        272
      ],
      "id": "0ba968e8-52a5-4ee4-aaea-f9c085f87703",
      "name": "Obtiene Registros osakisucursal",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "sFauwBpvViqW5yF3",
          "name": "MySQL Osaki-Ayres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\n\nSELECT a.idventa, \nCASE \nWHEN a.EntregaTipo = '1' THEN 'Delivery Osaki' \nWHEN a.EntregaTipo = '2' THEN 'Mostrador' \nWHEN a.EntregaTipo = '3' THEN 'Delivery Externo' \nEND AS TipoEntrega,\nreplace(replace(e.descripcion,'Osaki2-',''),'Osaki-','') as plataforma,\n    CASE \n        WHEN TRIM(COALESCE(a.CodigoPedidoPlataforma, '')) = '' THEN 'TAKE AWAY'\n        ELSE REGEXP_SUBSTR(a.CodigoPedidoPlataforma, '[0-9]+$')\n    END AS CodigoPedidoPlataforma,\nCASE WHEN b.Etapa = 'EP' THEN 'En Preparación'\n     WHEN b.Etapa = 'PR' THEN 'Preparado'\n     WHEN b.Etapa = 'PE' THEN 'Por Entregar'\n     WHEN b.Etapa = 'EV' THEN 'En Viaje'\n     WHEN (b.Etapa = 'E' AND a.EntregaTipo in ('3','1') ) THEN 'En reparto'\n     WHEN (b.Etapa = 'E' AND a.EntregaTipo = '2' ) THEN 'Listo para retiro'\n     WHEN b.Etapa = 'RG' THEN 'Pedido Cancelado'\n     ELSE 'Sin Clasificación' END as etapaPedido,\n      d.nombre as Nombre, c.Telefono, c.Calle, c.Numero, c.EntreCalles, c.Localidad, c.Observaciones,\nCASE WHEN A.CanceladoExterno = 0 THEN 'No'\n     ELSE 'Sí' END as PedidoCancelado,\n CASE \n    WHEN b.Observaciones LIKE '%|%' THEN TRIM(SUBSTRING_INDEX(b.Observaciones, '|', -1))\n    ELSE NULL\n    END as Observaciones_Pedido, b.FechaContable as diaPedido,\n     b.FechaHoraApertura as FechaHoraInicio,\n\t a.FechaHoraPreparado,\n\ta.FechaHoraEntregado as FechaHoraSalidaCocina,\n    a.FechaHoraEntrega as FechaHoraEstimadoSalidaAEntrega,\n     a.FechaHoraEnViaje\nfrom osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_datospedido a\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas b\non (b.IdVenta=a.IdVenta)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.clientespedidos_lugaresentrega c\non (a.IdClientePedido = c.IdClientePedido and a.IdLugarEntrega = c.IdLugarEntrega)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.clientespedidos d\non (a.IdClientePedido = d.IdClientePedido)\njoin osakicentral.tvc_pedidos_plataformas e\non (e.IdIntegracionPedidos = a.IdIntegracionPedidos)\nwhere b.FechaHoraApertura >= DATE_SUB(NOW(), INTERVAL 24 HOUR)\nand (a.IdVenta =$1 or a.CodigoPedidoPlataforma=$1)\n;",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        272,
        592
      ],
      "id": "1a1dda9a-93ad-4b2e-a802-23d22f8bde79",
      "name": "Detalle Pedido",
      "credentials": {
        "mySql": {
          "id": "sFauwBpvViqW5yF3",
          "name": "MySQL Osaki-Ayres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT c.IdArticulo, a.IdVenta, c.Descripcion as Articulo, c.DescripcionDetalle as Articulo_Detalle, b.Observaciones\nFROM osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_comandas A\nJOIN osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_comandas_items B\nON (a.IdComanda= b.IdComanda)\njoin osakicentral.articulos C\nON (b.IdArticulo=c.IdArticulo)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas_datospedido d\non (d.IdVenta=a.IdVenta)\njoin osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.clientespedidos e\non (e.IdClientePedido = d.IdClientePedido) \njoin osakicentral.tvc_pedidos_plataformas f\non (d.IdIntegracionPedidos = f.IdIntegracionPedidos)\njoin  osakisucursal{{ $('Main_Agent').item.json.numero_sucursal }}.ventas g\non (g.IdVenta=d.IdVenta)\nwhere g.FechaHoraApertura >= DATE_SUB(NOW(), INTERVAL 24 HOUR)\nand c.IdArticulo not in (551,549,548,550)\nand (g.IdVenta =$1 or d.CodigoPedidoPlataforma=$1)\n;",
        "options": {
          "queryReplacement": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query_Parameters', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        400,
        592
      ],
      "id": "1cd55290-173f-4b4b-a876-3559a8b3e023",
      "name": "Detalle Comanda",
      "credentials": {
        "mySql": {
          "id": "sFauwBpvViqW5yF3",
          "name": "MySQL Osaki-Ayres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El usuario desea hacer el seguimiento de su pedido y proporcionó los datos con los que cuenta:\n- cod_pedido: {{ $('Main_Agent').item.json.cod_pedido ||'No proporcionado' }}\n- nombre_cliente: {{ $('Main_Agent').item.json.nombre_cliente }}\n- nombre_sucursal: {{ $('Main_Agent').item.json.nombre_sucursal }}\n- datos_adicionales: {{ $('Main_Agent').item.json.datos_adicionales }}\n\n\nEl sistema cuenta con los siguientes pedidos para buscarlo:\n{{ JSON.stringify($json.data) }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=### 0) Rol y Propósito\nEres un Agente de Rastreo de Pedidos Logísticos. Tu función es validar matemáticamente IDs y reportar estatus.\n**REGLA DE ORO:** Prioriza la EXACTITUD. Nunca asumas un pedido si los números no coinciden según la lógica estricta de abajo.\n\n---\n\n## 1) Protocolo de Búsqueda y Validación (CRÍTICO)\n\nAntes de seleccionar un pedido, ejecuta esta validación lógica estricta.\n\n**Lógica de Coincidencia: \"Sufijo Exacto\" (EndsWith)**\nCompara el `cod_pedido` proporcionado por el usuario contra el `CodigoPedidoPlataforma` (o `idVenta`) de la lista.\n* **REGLA:** El código de la base de datos debe **TERMINAR** exactamente con los dígitos proporcionados por el usuario.\n* Si el usuario da pocos dígitos, estos deben coincidir perfectamente con el final del ID en base de datos.\n\n**Tabla de Verdad (Ejemplos):**\n* Usuario: `6131738` | DB: `1826131738` -> ✅ **MATCH** (El DB termina en 6131738).\n* Usuario: `882734`  | DB: `8535586`    -> ❌ **NO MATCH** (5586 no es 2734).\n* Usuario: `53252`   | DB: `53252`      -> ✅ **MATCH** (Exacto).\n* Usuario: `123`     | DB: `123456`     -> ❌ **NO MATCH** (Empieza con 123, pero termina en 456).\n\n**Decisión:**\n1.  Busca en la lista aplicando esta regla.\n2.  Si encuentras **UNO** que cumpla -> Ejecuta herramientas (Plantilla 5.1).\n3.  Si encuentras **VARIOS** -> Toma el más reciente (ID más alto).\n4.  Si **NINGUNO** cumple -> Reporta \"No Encontrado\" (Plantilla 5.2).\n\n---\n\n## 2) Contrato de Herramientas (Solo si hay ✅ Match)\n\nSi validaste el pedido exitosamente, usa el `idVenta` (ID interno numérico) para consultar.\n\n### 2.1 Herramienta \"Detalle Pedido\"\n* **Argumento:** `Query_Parameters` = `\"[idVenta]\"` (String numérico).\n\n### 2.2 Herramienta \"Detalle Comanda\"\n* **Argumento:** `Query_Parameters` = `\"[idVenta]\"` (String numérico).\n* **Limpieza:** Muestra `Cantidad` + `Nombre del Item`. Corta descripciones largas.\n\n---\n\n## 3) Reglas de Visualización y Saneamiento\n\n**3.1 Saneamiento de Línea de Tiempo:**\nSolo muestra eventos con hora válida (NOT NULL).\n1.  **Filtro:** Si `FechaHoraEstimadoSalidaAEntrega` es <= `FechaHoraInicio`, **OMITELA** (Dato sistema inválido).\n2.  **Etiquetas Dinámicas:**\n    * `FechaHoraInicio` -> \"Recibido\"\n    * `FechaHoraPreparado` -> \"Terminó Preparación\"\n    * `FechaHoraSalidaCocina` (Si es Mostrador) -> **\"Listo para retirar\"**\n    * `FechaHoraSalidaCocina` (Si es Delivery) -> \"Salió de Cocina\"\n    * `FechaHoraEnViaje` -> \"En Camino / Retirado\"\n    * `FechaHoraEntregado` -> \"Entregado\"\n\n**3.2 Privacidad:**\n* NUNCA muestres el `idVenta` interno al usuario. Usa siempre `CodigoPedidoPlataforma`.\n\n---\n\n## 4) Lógica de Notas (CONDICIONALES)\n\n**REGLA:** Si el estado es 'Entregado' o 'Listo para retiro', **NO** agregues notas de tiempo estimado.\nSolo agrega notas si el pedido está en proceso activo:\n\n* **CASO A (Delivery App):** `TipoEntrega` = 'Delivery Externo' AND `plataforma` LIKE '%Pedidos%'.\n    * Nota: \"📱 **Seguimiento:** Una vez listo, sigue el pedido desde la App de Pedidos Ya.\"\n* **CASO B (Delivery Propio):** `TipoEntrega` = 'Delivery Osaki'.\n    * Nota: \"🛵 **Tiempo estimado:** Una vez salga de cocina, la entrega toma 15-30 min.\"\n* **CASO C (Mostrador):** `TipoEntrega` IN ('Mostrador', 'Take Away').\n    * Nota: \"🥡 **Tiempo estimado:** La preparación suele demorar 15-20 min.\"\n\n---\n\n## 5) Plantillas de Salida (ESTRICTAS)\n\nUsa una de las dos plantillas siguientes. No agregues texto introductorio.\n\n### 5.1 Caso MATCH ENCONTRADO:\n```text\nEl pedido a nombre de **[Nombre Cliente]** con código de pedido **#[CodigoPedidoPlataforma]** cuenta con estos datos a este momento:\n\n📊 **Estado Actual:** [etapaPedido]\n*(Solo si etapaPedido == 'En Viaje': \"El repartidor salió a las [HoraEnViaje]\")*\n\n🕒 **Línea de Tiempo:**\n* [HH:MM] - [Etiqueta Evento]\n* [HH:MM] - [Etiqueta Evento]\n\n🛒 **Tu Comanda:**\n* **[Nombre Articulo]:** [Cantidad] [Detalle Corto]\n\n📍 **Datos de Entrega:**\n* **Método:** [TipoEntrega]\n* **Destino:** [Calle] [Numero] *(Omitir si es NULL)*\n\n[Insertar Nota Informativa Sección 4 (Solo si aplica)]\n\n* La Hora actual es: *[HH:MM]*\n```\n---\n### 5.2 Caso NO ENCONTRADO (Default):\n```text\n* **Operación:** Búsqueda de Pedido\n* **Resultado:** No Encontrado\n* **Sucursal Consultada:** **[Nombre Sucursal]**\n* **Código de Pedido Proporcionado:** **#[codigoPedidoProporcionado]**\n* **Nombre del Cliente Proporcionado:** **[nombreClienteProporcionado]**\n* Posible Razones:\n  - Pedido reciente no reflejado en sistema\n  - Datos incorrectos (nombre o código)\n- **Sugerencia:** Verificar datos o escalar consulta a agente humano\n* La Hora actual es: *[HH:MM]*\n``` \n\n---\n### 6) Configuración Regional\nTZ: America/Argentina/Buenos_Aires\n\nFormato Hora: HH:mm (24h)\n\nFecha Actual: {{ (() => { const d = new Date($now); return d.toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', hour: '2-digit', minute: '2-digit', hour12: false }); })() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        288
      ],
      "id": "bda5492e-85f4-4f84-b0bc-655c7b77298a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        512
      ],
      "id": "8649cd75-9792-479f-bb09-38e467d902e6",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "fATP1TjAWkMAqBDc",
          "name": "OpenAi Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        512
      ],
      "id": "17292767-0abb-49ad-a3a5-c3411e3713f7",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "OAlDnAQJQHCtNBVS",
          "name": "Google Gemini(PaLM) Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "056630d7-22f1-475a-ab64-7b1a6f1bb855",
              "leftValue": "={{ $json.numero_sucursal <= 0  }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -704,
        256
      ],
      "id": "2a8529c3-971d-4bd4-b45e-c9b4713c2344",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f1af2bc-157f-419b-b7b4-809c40435a10",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        272
      ],
      "id": "db0f6094-02de-4cd8-a5b0-8cce5a005791",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "808c566b-82f0-406e-af31-a2c265ecb241",
              "name": "Response",
              "value": "El número de sucursal no puede ser 0 o venir nulo. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        112
      ],
      "id": "dfab84e2-28a2-4f4f-9948-f62b2ad66969",
      "name": "Sucursal Nulo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0682c5fc-d3db-49a0-bb3a-e201dd5a96f7",
              "name": "Response",
              "value": "La sucursal seleccionada no tiene ningún registro para el día en curso o futuros, confirma datos.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        128
      ],
      "id": "c9a02b41-cfe2-47df-a8f4-68674ee7496b",
      "name": "Sucursal sin datos"
    }
  ],
  "pinData": {
    "Main_Agent": [
      {
        "json": {
          "cod_pedido": "8597062",
          "nombre_cliente": "Ana Polo",
          "schema": "osaki_main",
          "sessionId": "5492216390094@s.whatsapp.net",
          "nombre_sucursal": "Calle 9",
          "numero_sucursal": 4,
          "datos_adicionales": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZpYgShc1li13uf3h"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T17:44:38.682Z",
      "createdAt": "2025-12-11T17:44:38.682Z",
      "role": "workflow:owner",
      "workflowId": "YyCSqqoRIU2cXypG",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-11T13:58:58.227Z",
      "createdAt": "2026-01-11T13:58:58.227Z",
      "id": "KkeQFkJULwWdcCpc",
      "name": "Producción"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T21:19:34.154Z",
  "versionId": "d58ef466-828d-4ecd-8924-2dfa991292c1"
}