workflows/otrosOJmrzHLICEUYOMqm.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-04T17:08:28.000Z",
    "createdAt": "2026-01-04T17:08:26.654Z",
    "versionId": "4700b5cb-500a-44b1-b49a-ef311ec4d3cb",
    "workflowId": "OJmrzHLICEUYOMqm",
    "nodes": [
      {
        "parameters": {
          "operation": "update",
          "schema": {
            "__rl": true,
            "value": "osaki_main",
            "mode": "list",
            "cachedResultName": "osaki_main"
          },
          "table": {
            "__rl": true,
            "value": "={{ $('Start').item.json.tabla_chat}}_bkup",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "fec_registro": "={{ $json.fec_registro }}",
              "old_id": "={{ $json.id }}"
            },
            "matchingColumns": [
              "old_id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "message",
                "displayName": "message",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "old_id",
                "displayName": "old_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fec_registro",
                "displayName": "fec_registro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1248,
          -64
        ],
        "id": "d69654c9-3c08-49b2-aaae-cf6cf8b423fd",
        "name": "Actualiza Historica",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "schema": {
            "__rl": true,
            "value": "osaki_main",
            "mode": "list",
            "cachedResultName": "osaki_main"
          },
          "table": {
            "__rl": true,
            "value": "={{ $json.tabla_chat }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}",
              "fec_registro": "={{ $json.fec_registro }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "session_id",
                "displayName": "session_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "message",
                "displayName": "message",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "fec_registro",
                "displayName": "fec_registro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          928,
          -80
        ],
        "id": "e78d3377-a405-46dc-a83f-410fff8e2bff",
        "name": "Actualiza Productiva",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "id",
                "type": "number"
              },
              {
                "name": "fec_registro"
              },
              {
                "name": "tabla_chat"
              }
            ]
          }
        },
        "id": "5ef99d18-9f43-4c22-bcf5-097ad325bc32",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          384,
          -64
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "494d0a6a-025d-4379-a3c8-e0dc42a1f1de",
                "leftValue": "={{ $json.id }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          608,
          -64
        ],
        "id": "0a855ea0-6433-45c7-a15d-c9585df4b1dc",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "35ced1d7-3020-4e71-ae10-3ed55ff984b1",
                "name": "Response",
                "value": "Nada que actualizar",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          928,
          64
        ],
        "id": "c68d15b5-f8e5-4d90-b56d-ebaae8bb6f59",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Actualiza Productiva": {
        "main": [
          [],
          [
            {
              "node": "Actualiza Historica",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualiza Historica": {
        "main": [
          []
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Actualiza Productiva",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": "Version 4700b5cb",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "4700b5cb-500a-44b1-b49a-ef311ec4d3cb",
  "connections": {
    "Actualiza Productiva": {
      "main": [
        [],
        [
          {
            "node": "Actualiza Historica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualiza Historica": {
      "main": [
        []
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Actualiza Productiva",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-04T03:44:11.576Z",
  "id": "OJmrzHLICEUYOMqm",
  "isArchived": false,
  "meta": null,
  "name": "Actualiza_fecha",
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "osaki_main",
          "mode": "list",
          "cachedResultName": "osaki_main"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Start').item.json.tabla_chat}}_bkup",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fec_registro": "={{ $json.fec_registro }}",
            "old_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "old_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "old_id",
              "displayName": "old_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fec_registro",
              "displayName": "fec_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -64
      ],
      "id": "d69654c9-3c08-49b2-aaae-cf6cf8b423fd",
      "name": "Actualiza Historica",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "osaki_main",
          "mode": "list",
          "cachedResultName": "osaki_main"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json.tabla_chat }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "fec_registro": "={{ $json.fec_registro }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fec_registro",
              "displayName": "fec_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        -80
      ],
      "id": "e78d3377-a405-46dc-a83f-410fff8e2bff",
      "name": "Actualiza Productiva",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id",
              "type": "number"
            },
            {
              "name": "fec_registro"
            },
            {
              "name": "tabla_chat"
            }
          ]
        }
      },
      "id": "5ef99d18-9f43-4c22-bcf5-097ad325bc32",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        384,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "494d0a6a-025d-4379-a3c8-e0dc42a1f1de",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        -64
      ],
      "id": "0a855ea0-6433-45c7-a15d-c9585df4b1dc",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35ced1d7-3020-4e71-ae10-3ed55ff984b1",
              "name": "Response",
              "value": "Nada que actualizar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        64
      ],
      "id": "c68d15b5-f8e5-4d90-b56d-ebaae8bb6f59",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "tabla_chat": "n8n_chat_histories_delivery_calle_47"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-04T03:44:11.589Z",
      "createdAt": "2026-01-04T03:44:11.589Z",
      "role": "workflow:owner",
      "workflowId": "OJmrzHLICEUYOMqm",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-04T17:08:26.654Z",
  "versionId": "4700b5cb-500a-44b1-b49a-ef311ec4d3cb"
}