workflows/otrosZpYgShc1li13uf3h.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-11T18:34:51.577Z",
    "createdAt": "2025-12-11T18:34:51.577Z",
    "versionId": "fbe9a103-be84-4c43-ad73-04c12064a42c",
    "workflowId": "ZpYgShc1li13uf3h",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -272,
          -80
        ],
        "id": "8062cb00-48b8-4a9d-bf3e-d2621d1803f9",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://evolution-api-evolution-api.m6iigx.easypanel.host/message/sendText/Temikia",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "=90E7214218F8-4725-8CA7-85C2BCDAEE8A"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "number",
                "value": "=5215546389518@s.whatsapp.net"
              },
              {
                "name": "text",
                "value": "={{ \"‼ *ERROR* ‼\\nThere was an error in a workflow execution:\\n\\nName: \"+$json.workflowName +\"\\nid: \"+$json.id +\"\\nNode Name: \"+$json.nodeName+\"\\nNode Type: \"+$json.nodeType+\"\\nMessage: \"+$json.message+\"\\nURL: \"+$json.urlExecution+\"\\nMessages:\"+ $json.messages}}\n"
              },
              {
                "name": "delay",
                "value": "={{ parseInt(10000) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          -80
        ],
        "id": "4eeac33b-eb5e-46d5-a4ac-7a534fe0c87c",
        "name": "HTTP Request1",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2f5b26b2-3972-4d23-9167-37e30a1c4e1b",
                "name": "workflowName",
                "value": "={{ $json.workflow.name }}",
                "type": "string"
              },
              {
                "id": "b8c88f39-62df-4627-85ff-533944e5be35",
                "name": "id",
                "value": "={{ $json.execution.id }}",
                "type": "string"
              },
              {
                "id": "fbe3c28d-fcee-4b7c-ae89-6973533d77b8",
                "name": "urlExecution",
                "value": "={{ $json.execution.url }}",
                "type": "string"
              },
              {
                "id": "046ec7fd-6efc-45e3-8f85-6af624ff0784",
                "name": "message",
                "value": "={{ $json.execution.error.message }}",
                "type": "string"
              },
              {
                "id": "af57b9b4-93c7-4eb5-8a6d-2887c53742b7",
                "name": "nodeType",
                "value": "={{ $json.execution.error.node.type }}",
                "type": "string"
              },
              {
                "id": "77d7033c-3a7b-42cd-b7fc-c77124c3a44f",
                "name": "nodeName",
                "value": "={{ $json.execution.error.node.name }}",
                "type": "string"
              },
              {
                "id": "20bd6767-6e67-41c7-a8ad-ef21f3edfdba",
                "name": "messages",
                "value": "={{ $json.execution.error.messages }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          -80
        ],
        "id": "468ac4b2-d29d-43e9-ac9a-a15a1d8878dc",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "chatId": "67869519",
          "text": "={{ \"‼ <b>ERROR</b> ‼\"+\n\"\\nThere was an error in a workflow execution:\\n\"+\n\"\\n<b>Name</b>: \"+$json.workflowName +\n\"\\n<b>id</b>: \"+$json.id +\n\"\\n<b>Node </b>Name: \"+$json.nodeName+\n\"\\n<b>Node </b>Type: \"+$json.nodeType+\n\"\\n<b>Message</b>: \"+$json.message+\n\"\\n<b>URL</b>: \"+$json.urlExecution+\n\"\\n<b>Messages</b>:\"+ $json.messages}}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          448,
          176
        ],
        "id": "5d850d9d-7617-4569-b31f-28a62046c0cb",
        "name": "Send Report",
        "webhookId": "779803fd-13ea-45a6-b1b5-ef96db968628",
        "credentials": {
          "telegramApi": {
            "id": "Hzk8nmYjP8cCvVqh",
            "name": "Telegram Temikia-Notifications"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "fbe9a103-be84-4c43-ad73-04c12064a42c",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T18:33:27.574Z",
  "id": "ZpYgShc1li13uf3h",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error Report",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "8062cb00-48b8-4a9d-bf3e-d2621d1803f9",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-api-evolution-api.m6iigx.easypanel.host/message/sendText/Temikia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=90E7214218F8-4725-8CA7-85C2BCDAEE8A"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=5215546389518@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ \"‼ *ERROR* ‼\\nThere was an error in a workflow execution:\\n\\nName: \"+$json.workflowName +\"\\nid: \"+$json.id +\"\\nNode Name: \"+$json.nodeName+\"\\nNode Type: \"+$json.nodeType+\"\\nMessage: \"+$json.message+\"\\nURL: \"+$json.urlExecution+\"\\nMessages:\"+ $json.messages}}\n"
            },
            {
              "name": "delay",
              "value": "={{ parseInt(10000) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -80
      ],
      "id": "4eeac33b-eb5e-46d5-a4ac-7a534fe0c87c",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f5b26b2-3972-4d23-9167-37e30a1c4e1b",
              "name": "workflowName",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            },
            {
              "id": "b8c88f39-62df-4627-85ff-533944e5be35",
              "name": "id",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "fbe3c28d-fcee-4b7c-ae89-6973533d77b8",
              "name": "urlExecution",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "046ec7fd-6efc-45e3-8f85-6af624ff0784",
              "name": "message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "af57b9b4-93c7-4eb5-8a6d-2887c53742b7",
              "name": "nodeType",
              "value": "={{ $json.execution.error.node.type }}",
              "type": "string"
            },
            {
              "id": "77d7033c-3a7b-42cd-b7fc-c77124c3a44f",
              "name": "nodeName",
              "value": "={{ $json.execution.error.node.name }}",
              "type": "string"
            },
            {
              "id": "20bd6767-6e67-41c7-a8ad-ef21f3edfdba",
              "name": "messages",
              "value": "={{ $json.execution.error.messages }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -80
      ],
      "id": "468ac4b2-d29d-43e9-ac9a-a15a1d8878dc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "67869519",
        "text": "={{ \"‼ <b>ERROR</b> ‼\"+\n\"\\nThere was an error in a workflow execution:\\n\"+\n\"\\n<b>Name</b>: \"+$json.workflowName +\n\"\\n<b>id</b>: \"+$json.id +\n\"\\n<b>Node </b>Name: \"+$json.nodeName+\n\"\\n<b>Node </b>Type: \"+$json.nodeType+\n\"\\n<b>Message</b>: \"+$json.message+\n\"\\n<b>URL</b>: \"+$json.urlExecution+\n\"\\n<b>Messages</b>:\"+ $json.messages}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        176
      ],
      "id": "5d850d9d-7617-4569-b31f-28a62046c0cb",
      "name": "Send Report",
      "webhookId": "779803fd-13ea-45a6-b1b5-ef96db968628",
      "credentials": {
        "telegramApi": {
          "id": "Hzk8nmYjP8cCvVqh",
          "name": "Telegram Temikia-Notifications"
        }
      }
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "16061",
            "url": "https://n8n-n8n.m6iigx.easypanel.host/workflow/Q2VDmUWktxVQIDct/executions/16061",
            "error": {
              "level": "warning",
              "tags": {},
              "timestamp": 1756261459477,
              "context": {
                "itemIndex": 0,
                "nodeCause": "Agente Buscador",
                "descriptionKey": "nodeNotFound",
                "parameter": "assignments"
              },
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "mode": "manual",
                  "duplicateItem": false,
                  "assignments": {
                    "assignments": [
                      {
                        "id": "97e9883e-2a94-40f1-9d89-97b6aadf828c",
                        "name": "delay",
                        "value": "={{ parseInt($('Agente Buscador').item.json.output.length *40) }}",
                        "type": "number"
                      },
                      {
                        "id": "958f4173-eda3-495c-a3cb-c1291f8a5dd5",
                        "name": "output",
                        "value": "={{ $('Agente Buscador').item.json.output }}",
                        "type": "string"
                      }
                    ]
                  },
                  "includeOtherFields": false,
                  "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                  3696,
                  -432
                ],
                "id": "2860d629-458d-4558-b367-326da7a77cd3",
                "name": "Edit Fields"
              },
              "messages": [],
              "message": "Referenced node doesn't exist",
              "stack": "NodeOperationError: Referenced node doesn't exist\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Set/v2/manual.mode.ts:256:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_1af219c3f47f2a1223ec4ccec249a974/node_modules/n8n-nodes-base/nodes/Set/v2/SetV2.node.ts:351:48)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1212:32)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1582:38\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+sdk-trace-base@1.30_5aee33ef851c7de341eb325c6a25e0ff/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2158:11"
            },
            "lastNodeExecuted": "Edit Fields",
            "mode": "webhook"
          },
          "workflow": {
            "id": "Q2VDmUWktxVQIDct",
            "name": "Circe Uni - Main Agent_1.4"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T18:33:27.577Z",
      "createdAt": "2025-12-11T18:33:27.577Z",
      "role": "workflow:owner",
      "workflowId": "ZpYgShc1li13uf3h",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-11T18:34:51.577Z",
  "versionId": "fbe9a103-be84-4c43-ad73-04c12064a42c"
}