workflows/otros/JjgmhvVruTM0sYIp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T20:37:13.710Z",
  "id": "JjgmhvVruTM0sYIp",
  "isArchived": true,
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        0
      ],
      "id": "62d9f1c4-a4a2-4885-b1b7-c1fb34fa8c67",
      "name": "WhatsApp Trigger",
      "webhookId": "51c14ef2-6231-4316-847b-9dbe6c4878c4",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres un asistente de un restaurante."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -224,
        0
      ],
      "id": "fb0b8804-f449-4a02-8cb7-291a2cc5f593",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        208
      ],
      "id": "d570674a-f2e1-46ab-978c-7d582f5fe54f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fATP1TjAWkMAqBDc",
          "name": "OpenAi Osaki-TemikiaProd01"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -144,
        224
      ],
      "id": "ac01469a-598b-408d-898c-d6bbc081d3b5",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        128,
        0
      ],
      "id": "4d22fa9b-351a-46c9-878b-44db9c16d0f3",
      "name": "Send message",
      "webhookId": "c33a19e7-92da-4e49-bd21-d98b69267ae6",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        416
      ],
      "id": "912c79af-3c29-4562-afdf-64311ee415c8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5c63893-f799-4767-927a-5be0dc307eda",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "04d27d7e-bbb1-4c40-aaa2-ed6356312a33",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "cbdf0f25-9357-4277-a09d-5adfe714fb74",
              "name": "apiKey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "c53ff8c5-80b0-46a4-bbe0-7142aae5e12b",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "b6a985fc-5b5a-4d02-9f9c-8ba7a414b7f5",
              "name": "=message_type",
              "value": "={{\n  $json.body.data.message.extendedTextMessage ? 'text' :\n  $json.body.data.message.conversation        ? 'text' :\n  $json.body.data.message.audioMessage        ? 'audio' :\n  $json.body.data.message.imageMessage        ? 'image' :\n  $json.body.data.message.stickerMessage      ? 'sticker' :\n  $json.body.data.message.documentMessage     ? 'document' :\n  $json.body.data.message.reactionMessage     ? 'reaction' :\n  $json.body.data.message.videoMessage        ? 'video' :\n  $json.body.data.message.templateMessage     ? 'template' :\n  ''\n}}",
              "type": "string"
            },
            {
              "id": "86215e6f-3ca0-44a2-a094-07db02705a4c",
              "name": "message_content",
              "value": "={{ $json.body.data.message.extendedTextMessage?.text || $json.body.data.message.conversation || $json.body.data.message.imageMessage?.caption || $json.body.data.message.reactionMessage?.text || $json.body.data.message.templateMessage.hydratedTemplate?.hydratedContentText || '' }}",
              "type": "string"
            },
            {
              "id": "7c289f1e-d818-487b-9f48-9b2924342cee",
              "name": "message_timestamp",
              "value": "={{ $json.body.date_time.toDateTime().toISO() }}",
              "type": "string"
            },
            {
              "id": "49a54042-efa6-44a7-b638-1e162d00f7f5",
              "name": "user_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "277f8aea-4ffe-49d6-8709-205a590a3275",
              "name": "message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "7ef3b7b7-c7ef-4bd1-adad-e9ac784fa58d",
              "name": "=phone_number",
              "value": "={{\n  (() => {\n    const get = (...xs) => xs.find(v => typeof v === 'string' && v.length) || '';\n\n    // Acceder correctamente a los campos dentro de body.data.key\n    const remoteJid = get($json.body?.data?.key?.remoteJid);\n    const remoteJidAlt = get($json.body?.data?.key?.remoteJidAlt);\n    const senderPn = get($json.body?.data?.key?.senderPn, $json.body?.data?.senderPn, $json.key?.senderPn, $json.senderPn);\n\n    // Función para elegir la mejor fuente\n    const chooseBestSource = (jid, jidAlt, sender) => {\n      const jidHasWhatsapp = jid && jid.toLowerCase().includes('whatsapp');\n      const jidAltHasWhatsapp = jidAlt && jidAlt.toLowerCase().includes('whatsapp');\n      \n      if (jidHasWhatsapp) {\n        return jid;\n      } else if (jidAltHasWhatsapp) {\n        return jidAlt;\n      } else {\n        // Si ninguno tiene whatsapp, usar lógica original\n        return /@lid$/i.test(jid || '') ? sender : (jid || sender || '');\n      }\n    };\n\n    const src = chooseBestSource(remoteJid, remoteJidAlt, senderPn);\n    \n    // Si no se encontró ninguna fuente válida\n    if (!src) return '';\n\n    // Extraer la parte antes del @\n    const beforeAt = src.includes('@') ? src.split('@')[0] : src;\n    \n    // Remover el + inicial si existe\n    const withoutPlus = beforeAt.startsWith('+') ? beforeAt.substring(1) : beforeAt;\n    \n    // Extraer solo los dígitos\n    const onlyDigits = withoutPlus.replace(/\\D/g, '');\n    \n    // Tomar los últimos 10 dígitos\n    return onlyDigits.slice(-10);\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "595c3ef9-7c55-4edd-9a9f-3be9f622173f",
              "name": "schema",
              "value": "osaki_main",
              "type": "string"
            },
            {
              "id": "eeb73ea4-8db3-48c5-aff5-f7a682877846",
              "name": "message_lenght",
              "value": "={{ (($json.body.data.message.extendedTextMessage?.text || '')||( $json.body.data.message.imageMessage?.caption || '') || ($json.body.data.message.conversation || '')).length }}",
              "type": "number"
            },
            {
              "id": "3630aab8-2b55-4c25-92a8-6736a9b312df",
              "name": "sessionId",
              "value": "={{ [$json.body.data.key.remoteJid, $json.body.data.key.remoteJidAlt].find(id => id && id.includes('whatsapp')) || $json.body.data.key.remoteJid}}",
              "type": "string"
            },
            {
              "id": "a8f9ece0-abb7-46a8-a584-58414515be2b",
              "name": "sucursal",
              "value": "={{ $json.body.instance==='Osaki-Delivery' && 'Calle 47' || 'Calle 9' }}",
              "type": "string"
            },
            {
              "id": "dc3a6937-c635-44a8-a8ea-33d290fa8b59",
              "name": "sucursal_snake",
              "value": "={{ $json.body.instance==='Osaki-Delivery' && 'calle_47' || 'calle_9' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        416
      ],
      "id": "8cc234e3-3c15-4db8-b7d9-6da273e6807c",
      "name": "Data Filter"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.2hxkvh.easypanel.host",
            "user-agent": "axios/1.13.2",
            "content-length": "1538",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n.2hxkvh.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "5a30a00e6f44",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Osaki-Delivery-Calle-9",
            "data": {
              "key": {
                "remoteJid": "5492215682508@s.whatsapp.net",
                "remoteJidAlt": "5492215682508@s.whatsapp.net",
                "fromMe": false,
                "id": "AC2C3C63432358EF4C3E55443C2E0BAA",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Mari",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Voy a tratar de pagar en efectivo y si no con transferencia",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 187,
                      "1": 67,
                      "2": 206,
                      "3": 250,
                      "4": 218,
                      "5": 127,
                      "6": 76,
                      "7": 11,
                      "8": 38,
                      "9": 27
                    },
                    "senderTimestamp": {
                      "low": 1766241278,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 199,
                      "1": 60,
                      "2": 65,
                      "3": 142,
                      "4": 253,
                      "5": 158,
                      "6": 61,
                      "7": 241,
                      "8": 70,
                      "9": 140
                    },
                    "recipientTimestamp": {
                      "low": 1765833297,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 6,
                    "1": 22,
                    "2": 244,
                    "3": 61,
                    "4": 248,
                    "5": 162,
                    "6": 24,
                    "7": 181,
                    "8": 73,
                    "9": 36,
                    "10": 84,
                    "11": 106,
                    "12": 34,
                    "13": 231,
                    "14": 109,
                    "15": 39,
                    "16": 75,
                    "17": 167,
                    "18": 235,
                    "19": 145,
                    "20": 128,
                    "21": 155,
                    "22": 47,
                    "23": 195,
                    "24": 182,
                    "25": 18,
                    "26": 204,
                    "27": 6,
                    "28": 57,
                    "29": 189,
                    "30": 189,
                    "31": 121
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1766441767,
              "instanceId": "23547d2f-9dac-4f88-9e2a-6f5336230eb0",
              "source": "android"
            },
            "destination": "https://n8n-n8n.2hxkvh.easypanel.host/webhook/Osaki_Delivery_C9",
            "date_time": "2025-12-22T19:16:07.527Z",
            "sender": "5492216382966@s.whatsapp.net",
            "server_url": "https://evolution-api-evolution-api.2hxkvh.easypanel.host",
            "apikey": "D802368AAC4A-4355-A614-ADF7B45CC549"
          },
          "webhookUrl": "https://n8n-n8n.2hxkvh.easypanel.host/webhook/Osaki_Delivery_C9",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T20:37:13.717Z",
      "createdAt": "2025-12-17T20:37:13.717Z",
      "role": "workflow:owner",
      "workflowId": "JjgmhvVruTM0sYIp",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T14:10:13.000Z",
  "versionId": "19836ca5-0a53-4eb1-94cb-51e0b21e30ba"
}