workflows/otros/KXoSIoHdcQgooWYd.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "InfobipApi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfobipApi": {
      "main": [
        [
          {
            "node": "InfobipApi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-22T04:06:48.326Z",
  "id": "KXoSIoHdcQgooWYd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "infobip Test",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fbd4d562-2661-48e5-87a6-06d0bef67328",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sender": "444000",
        "phone": "525651849797",
        "content": "Hola, este es un mensaje de prueba"
      },
      "type": "@infobip/n8n-nodes-infobip-api.infobipApi",
      "typeVersion": 1,
      "position": [
        368,
        0
      ],
      "id": "79bfc4b6-c1cd-4bd6-ae96-5a8b6f2d5e59",
      "name": "InfobipApi",
      "credentials": {
        "infobipApi": {
          "id": "WOjvKQOt3g8Jxcpx",
          "name": "Infobip account"
        }
      }
    },
    {
      "parameters": {
        "operation": "smsDeliveryReport",
        "messageId": "={{ $json.messages[0].messageId }}"
      },
      "type": "@infobip/n8n-nodes-infobip-api.infobipApi",
      "typeVersion": 1,
      "position": [
        576,
        0
      ],
      "id": "b1b02ec6-2ba4-45a8-9928-a0e616f98a77",
      "name": "InfobipApi1",
      "credentials": {
        "infobipApi": {
          "id": "WOjvKQOt3g8Jxcpx",
          "name": "Infobip account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-22T04:06:48.332Z",
      "createdAt": "2025-12-22T04:06:48.332Z",
      "role": "workflow:owner",
      "workflowId": "KXoSIoHdcQgooWYd",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T14:09:17.002Z",
  "versionId": "3b166d69-e582-4fc6-92e4-99729728c706"
}