workflows/otros/Mensaje Manual.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-21T14:15:22.000Z",
    "createdAt": "2026-04-21T14:14:59.207Z",
    "versionId": "f9103619-3d76-4812-9ac7-42963ad08782",
    "workflowId": "IxwweqZC2vvoE8J9",
    "nodes": [
      {
        "parameters": {
          "resource": "chat-api",
          "operation": "read-messages",
          "instanceName": "=Osaki-Resto",
          "remoteJid": "={{ $json.chatId }}",
          "messageId": "={{ $json.messageKey }}"
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          400,
          0
        ],
        "id": "ef4b29d5-d708-4d9a-9b71-f6573a0e3c8b",
        "name": "Marcar mensagens como lidas1",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 3000,
        "credentials": {
          "evolutionApi": {
            "id": "9xktnR3DFRTQS3QC",
            "name": "Evolution Osaki"
          }
        }
      },
      {
        "parameters": {
          "resource": "messages-api",
          "instanceName": "=Osaki-Resto",
          "remoteJid": "={{ $('On form submission').item.json.chatId }}",
          "messageText": "={{ $('On form submission').item.json.mensaje }}",
          "options_message": {
            "delay": "={{ $('On form submission').item.json.mensaje.length * 15 }}"
          }
        },
        "type": "n8n-nodes-evolution-api.evolutionApi",
        "typeVersion": 1,
        "position": [
          656,
          0
        ],
        "id": "168b2dd8-96bf-45aa-b69d-e72d73e7b5e8",
        "name": "Enviar texto1",
        "retryOnFail": true,
        "waitBetweenTries": 3000,
        "credentials": {
          "evolutionApi": {
            "id": "9xktnR3DFRTQS3QC",
            "name": "Evolution Osaki"
          }
        }
      },
      {
        "parameters": {
          "formTitle": "Envía un mensaje manual",
          "formFields": {
            "values": [
              {
                "fieldLabel": "chatId"
              },
              {
                "fieldLabel": "messageKey"
              },
              {
                "fieldLabel": "mensaje"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          32,
          0
        ],
        "id": "682e2fda-702f-49fa-9f71-df25694d8a65",
        "name": "On form submission",
        "webhookId": "cdb2eb4a-0a0c-4d3c-bf33-d1dbb0c0eb4a"
      }
    ],
    "connections": {
      "Marcar mensagens como lidas1": {
        "main": [
          [
            {
              "node": "Enviar texto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Marcar mensagens como lidas1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": "Version f9103619",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "f9103619-3d76-4812-9ac7-42963ad08782",
  "connections": {
    "Marcar mensagens como lidas1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Marcar mensagens como lidas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-05T23:48:59.857Z",
  "id": "IxwweqZC2vvoE8J9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mensaje Manual",
  "nodes": [
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "=Osaki-Resto",
        "remoteJid": "={{ $json.chatId }}",
        "messageId": "={{ $json.messageKey }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "ef4b29d5-d708-4d9a-9b71-f6573a0e3c8b",
      "name": "Marcar mensagens como lidas1",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "evolutionApi": {
          "id": "9xktnR3DFRTQS3QC",
          "name": "Evolution Osaki"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=Osaki-Resto",
        "remoteJid": "={{ $('On form submission').item.json.chatId }}",
        "messageText": "={{ $('On form submission').item.json.mensaje }}",
        "options_message": {
          "delay": "={{ $('On form submission').item.json.mensaje.length * 15 }}"
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "168b2dd8-96bf-45aa-b69d-e72d73e7b5e8",
      "name": "Enviar texto1",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "credentials": {
        "evolutionApi": {
          "id": "9xktnR3DFRTQS3QC",
          "name": "Evolution Osaki"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Envía un mensaje manual",
        "formFields": {
          "values": [
            {
              "fieldLabel": "chatId"
            },
            {
              "fieldLabel": "messageKey"
            },
            {
              "fieldLabel": "mensaje"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        32,
        0
      ],
      "id": "682e2fda-702f-49fa-9f71-df25694d8a65",
      "name": "On form submission",
      "webhookId": "cdb2eb4a-0a0c-4d3c-bf33-d1dbb0c0eb4a"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ZpYgShc1li13uf3h",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-05T23:48:59.863Z",
      "createdAt": "2026-04-05T23:48:59.863Z",
      "role": "workflow:owner",
      "workflowId": "IxwweqZC2vvoE8J9",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-21T14:15:35.593Z",
  "versionId": "f9103619-3d76-4812-9ac7-42963ad08782"
}