workflows/otros/My workflow 3.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items12": {
      "main": [
        [],
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table2": {
      "main": [
        [
          {
            "node": "Loop Over Items12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Insert rows in a table4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table4": {
      "main": [
        [
          {
            "node": "Loop Over Items12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BlackList3": {
      "main": [
        [
          {
            "node": "Reverse 47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table5": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows2": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Update rows in a table2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clientes Sheet2": {
      "main": [
        [
          {
            "node": "Loop Over Items12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene Datos Iniciales": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Insert rows in a table5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete table or rows2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Variables 47",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Variables 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables 47": {
      "main": [
        [
          {
            "node": "Get BlackList3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BlackList": {
      "main": [
        [
          {
            "node": "Reverse 9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables 9": {
      "main": [
        [
          {
            "node": "Get BlackList",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reverse 47": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reverse 9": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get Clientes Sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items13": {
      "main": [
        [],
        [
          {
            "node": "If14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If13": {
      "main": [
        [
          {
            "node": "Insert rows in a table6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table6": {
      "main": [
        [
          {
            "node": "Loop Over Items13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If14": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If15": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clientes Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Get Clientes Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-23T00:47:34.556Z",
  "id": "U9iDDWNtO0Gr4ZMr",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        800
      ],
      "id": "d9e77811-d813-4422-8373-bb4a1f4edc50",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheets",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        800
      ],
      "id": "c991b3a7-448e-4b96-9044-4b178dc0dece",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1952,
        160
      ],
      "id": "de27f496-16a9-4937-9937-30400f575d54",
      "name": "Loop Over Items12"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $('Obtiene Datos Iniciales').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Select rows from a table2').item.json.telefono }}",
            "tipo_atencion": "={{ $('Loop Over Items12').item.json['TipoAtención'] }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_modificacion",
              "displayName": "fecha_modificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_atencion",
              "displayName": "tipo_atencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "post_cita",
              "displayName": "post_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_mensaje_largo",
              "displayName": "num_mensaje_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "actitud",
              "displayName": "actitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "negativos_intentos",
              "displayName": "negativos_intentos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferencias_alimentarias",
              "displayName": "preferencias_alimentarias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_reservaciones",
              "displayName": "total_reservaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ult_reservacion",
              "displayName": "ult_reservacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "alergias",
              "displayName": "alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta_verifica_reserva",
              "displayName": "pregunta_verifica_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3376,
        192
      ],
      "id": "8d636e73-5c32-4559-9c7f-83359c481011",
      "name": "Update rows in a table2",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $('Obtiene Datos Iniciales').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "where": {
          "values": [
            {
              "column": "telefono",
              "value": "={{ $json.Telefono.toString().replace(/[^\\d]/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        160
      ],
      "id": "d2fc1d27-26af-424c-b30b-2e02bd89e352",
      "name": "Select rows from a table2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8eefa99-e4dc-4ddf-9dd5-0eb745e2eef9",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        160
      ],
      "id": "50bb8dc2-b58d-42b9-9ecb-d6201ec5613f",
      "name": "If10"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Obtiene Datos Iniciales').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_registro": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
            "canal": "Google Sheets",
            "telefono": "={{ $('Loop Over Items12').item.json.Telefono }}",
            "fecha_modificacion": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
            "tipo_atencion": "={{ $('Loop Over Items12').item.json['TipoAtención'] }}",
            "notas": "Registro creado desde Google Sheets",
            "intencion": "Información",
            "num_mensaje_largo": 0,
            "actitud": 1,
            "negativos_intentos": 0,
            "total_reservaciones": 0,
            "pregunta_verifica_reserva": "={{ false }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_modificacion",
              "displayName": "fecha_modificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_atencion",
              "displayName": "tipo_atencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_cita",
              "displayName": "post_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_mensaje_largo",
              "displayName": "num_mensaje_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "actitud",
              "displayName": "actitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "negativos_intentos",
              "displayName": "negativos_intentos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferencias_alimentarias",
              "displayName": "preferencias_alimentarias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_reservaciones",
              "displayName": "total_reservaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ult_reservacion",
              "displayName": "ult_reservacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "alergias",
              "displayName": "alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta_verifica_reserva",
              "displayName": "pregunta_verifica_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3136,
        144
      ],
      "id": "f08068fa-89a8-4073-b07f-7bbf7f50d1eb",
      "name": "Insert rows in a table4",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0",
          "mode": "list",
          "cachedResultName": "Reservaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 624839784,
          "mode": "list",
          "cachedResultName": "Blacklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0/edit#gid=624839784"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        432
      ],
      "id": "f86bb60b-9622-4b97-b31a-04f73da5ef57",
      "name": "Get BlackList3",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Variables 47').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=blacklist_phones_{{ $('Variables 47').first().json.sheets.sucursal }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json['Teléfono'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sucursal_id",
              "displayName": "sucursal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        416
      ],
      "id": "cca9859b-8307-4b1a-8259-46b171444d2a",
      "name": "Insert rows in a table5",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Variables 47').first().json.sheets.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Blacklist",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Teléfono": "={{ $('Switch1').item.json[\"Teléfono\"] }}",
            "Estado": "Agregado"
          },
          "matchingColumns": [
            "Teléfono"
          ],
          "schema": [
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono: A 10 dígitos, solo números, sin espacio o símbolos\n\nIncorrecto: 22 1234-9876\nCorrecto: 2212349876",
              "displayName": "Teléfono: A 10 dígitos, solo números, sin espacio o símbolos\n\nIncorrecto: 22 1234-9876\nCorrecto: 2212349876",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado: Situación dentro del sistema\n\nAgregado: Actualmente incluido dentro del sistema\nNuevo: Se requiere ingresarlo al sistema\nEliminar: Retirar de la lista del sistema",
              "displayName": "Estado: Situación dentro del sistema\n\nAgregado: Actualmente incluido dentro del sistema\nNuevo: Se requiere ingresarlo al sistema\nEliminar: Retirar de la lista del sistema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "En esta lista se incluyen todo aquellos números de teléfono (10 dígitos) que serán excluídos de la atención que realiza el agente IA de manera PERMANENTE, es decir, si alguno de estos números se comunica con el agente, este NO responderá.",
              "displayName": "En esta lista se incluyen todo aquellos números de teléfono (10 dígitos) que serán excluídos de la atención que realiza el agente IA de manera PERMANENTE, es decir, si alguno de estos números se comunica con el agente, este NO responderá.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        416
      ],
      "id": "ba4466af-ed59-4327-9688-8fc041a50a41",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "={{ $('Variables 47').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=blacklist_phones_{{ $('Variables 47').first().json.sheets.sucursal }}",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $json['Teléfono'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        576
      ],
      "id": "505325fd-ee52-4d4c-bf55-6a209e213166",
      "name": "Delete table or rows2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Variables 47').first().json.sheets.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Blacklist",
          "mode": "name"
        },
        "startIndex": "={{ $('Switch1').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        576
      ],
      "id": "c46131fb-e9dc-4f9e-b9f2-fd3e03640e45",
      "name": "Delete rows or columns from sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6d51aee-383f-498d-95df-f11e34c263c2",
              "leftValue": "={{ $json['TipoAtención'].isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "68852586-24e2-49c2-9e95-6b502c35b4b2",
              "leftValue": "={{ $json.Telefono.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        176
      ],
      "id": "69f31b38-51c4-4e35-b18d-0b25d6363fc9",
      "name": "If11"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e487e61-aef8-4874-b972-019cfeba6c0d",
              "leftValue": "={{ $('Loop Over Items12').item.json['TipoAtención'] }}",
              "rightValue": "={{ $json.tipo_atencion }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        208
      ],
      "id": "33ddc889-257c-4759-bd2c-76a0fde7739b",
      "name": "If12"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0",
          "mode": "list",
          "cachedResultName": "Reservaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1728,
        160
      ],
      "id": "7b79ddae-767d-4e8e-a529-8c57588f5ecc",
      "name": "Get Clientes Sheet2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06cb9b12-57dd-43b3-b321-4a700bb2ed51",
              "name": "sheets",
              "value": "[  { \"sucursal\":\"calle_47\", \"id\": \"16_ULxHa4l-N5DHhhpIkytQdPY0hPqZF6_E2Xcu83_S0\"},    { \"sucursal\":\"calle_9\",\"id\": \"15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g\"}]   ",
              "type": "array"
            },
            {
              "id": "a5334687-67f0-462f-b4ed-4280f95f783d",
              "name": "schema",
              "value": "osaki_main",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        800
      ],
      "id": "e9fcc14a-fb9b-4c78-9a15-4452637b17f7",
      "name": "Obtiene Datos Iniciales"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Nuevo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "30fb3e4f-55ac-4673-9c06-ae2708bd3865"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nuevo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb0ac507-aeef-4546-bef2-84456d4dc0a6",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Eliminar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Eliminar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Otro"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1408,
        432
      ],
      "id": "d167ade7-fa19-4e8c-bc3a-4fed7038cc57",
      "name": "Switch1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        432
      ],
      "id": "2a22ff1f-9c67-493a-96b2-c97ec54678c2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5ffa888-9090-46a3-9f1d-2b0bd27331ae",
              "leftValue": "={{ $json.sheets.sucursal }}",
              "rightValue": "calle_47",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        800
      ],
      "id": "71ff16dd-1d6a-4f6c-8e49-fa24b70fe55b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        432
      ],
      "id": "31607e50-4afc-4e95-99f1-6d2b422ed474",
      "name": "Variables 47"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g",
          "mode": "list",
          "cachedResultName": "Control Calle 9",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1317093169,
          "mode": "list",
          "cachedResultName": "Blacklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g/edit#gid=1317093169"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        1328
      ],
      "id": "abc5479f-0848-4555-9a8c-cc6cfbfe68e0",
      "name": "Get BlackList",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Variables 9').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=blacklist_phones_{{ $('Variables 9').first().json.sheets.sucursal }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json['Teléfono'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sucursal_id",
              "displayName": "sucursal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        1312
      ],
      "id": "40696f6d-e5b8-4d13-bf0d-7113e3309f1d",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Variables 9').item.json.sheets.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Blacklist",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Teléfono": "={{ $('Switch').item.json[\"Teléfono\"] }}",
            "Estado": "Agregado"
          },
          "matchingColumns": [
            "Teléfono"
          ],
          "schema": [
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Teléfono: A 10 dígitos, solo números, sin espacio o símbolos\n\nIncorrecto: 22 1234-9876\nCorrecto: 2212349876",
              "displayName": "Teléfono: A 10 dígitos, solo números, sin espacio o símbolos\n\nIncorrecto: 22 1234-9876\nCorrecto: 2212349876",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado: Situación dentro del sistema\n\nAgregado: Actualmente incluido dentro del sistema\nNuevo: Se requiere ingresarlo al sistema\nEliminar: Retirar de la lista del sistema",
              "displayName": "Estado: Situación dentro del sistema\n\nAgregado: Actualmente incluido dentro del sistema\nNuevo: Se requiere ingresarlo al sistema\nEliminar: Retirar de la lista del sistema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "En esta lista se incluyen todo aquellos números de teléfono (10 dígitos) que serán excluídos de la atención que realiza el agente IA de manera PERMANENTE, es decir, si alguno de estos números se comunica con el agente, este NO responderá.",
              "displayName": "En esta lista se incluyen todo aquellos números de teléfono (10 dígitos) que serán excluídos de la atención que realiza el agente IA de manera PERMANENTE, es decir, si alguno de estos números se comunica con el agente, este NO responderá.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        1312
      ],
      "id": "dde7e1d3-e375-470c-bfbd-c028480abc7d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "={{ $('Variables 9').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "=blacklist_phones_{{ $('Variables 9').first().json.sheets.sucursal }}",
          "mode": "name"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $json['Teléfono'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        1472
      ],
      "id": "972ec4fc-b50e-47b0-bd68-eedb5a937958",
      "name": "Delete table or rows",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Variables 9').first().json.sheets.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1317093169,
          "mode": "list",
          "cachedResultName": "Blacklist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g/edit#gid=1317093169"
        },
        "startIndex": "={{ $('Switch').item.json.row_number }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        1472
      ],
      "id": "af71c7b4-484d-4e09-8d91-82f2a866c63e",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Nuevo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "30fb3e4f-55ac-4673-9c06-ae2708bd3865"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nuevo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb0ac507-aeef-4546-bef2-84456d4dc0a6",
                    "leftValue": "={{ $json.Estado }}",
                    "rightValue": "Eliminar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Eliminar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Otro"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1408,
        1328
      ],
      "id": "0d749e3c-1965-4158-a01c-09143a636b81",
      "name": "Switch"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        1328
      ],
      "id": "048cbf2e-bf0b-4282-9ddc-2cd3c9653dab",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1328
      ],
      "id": "decdfdbc-f57a-4788-a6ea-2a467250b931",
      "name": "Variables 9"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2176,
        576
      ],
      "id": "827b783b-2896-4d36-ad72-a38b8ca03ed6",
      "name": "Wait",
      "webhookId": "c8017ecc-bb42-4c4e-985d-b0ef8e72d48f"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2192,
        1472
      ],
      "id": "a83cc5e1-6b67-4e01-9897-aff2f7303d0c",
      "name": "Wait1",
      "webhookId": "c8017ecc-bb42-4c4e-985d-b0ef8e72d48f"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().reverse();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1328
      ],
      "id": "9e72d441-49b1-439d-bf57-ce35c0266e1e",
      "name": "Reverse 9"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().reverse();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        432
      ],
      "id": "7da87328-2a7e-4c8e-bffd-3e7ed7310d1e",
      "name": "Reverse 47"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        160
      ],
      "id": "6608330e-eb66-46e8-b5c0-29b4a784af91",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1936,
        1056
      ],
      "id": "897c8fec-e069-406e-b1f8-93fa0595ea59",
      "name": "Loop Over Items13"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "={{ $('Obtiene Datos Iniciales').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Select rows from a table').item.json.telefono }}",
            "tipo_atencion": "={{ $('Loop Over Items13').item.json['TipoAtención'] }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_modificacion",
              "displayName": "fecha_modificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_atencion",
              "displayName": "tipo_atencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "post_cita",
              "displayName": "post_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_mensaje_largo",
              "displayName": "num_mensaje_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "actitud",
              "displayName": "actitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "negativos_intentos",
              "displayName": "negativos_intentos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferencias_alimentarias",
              "displayName": "preferencias_alimentarias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_reservaciones",
              "displayName": "total_reservaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ult_reservacion",
              "displayName": "ult_reservacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "alergias",
              "displayName": "alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta_verifica_reserva",
              "displayName": "pregunta_verifica_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3360,
        1088
      ],
      "id": "9c768431-f1ab-4ef2-8e78-a9232129dadf",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "={{ $('Obtiene Datos Iniciales').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "where": {
          "values": [
            {
              "column": "telefono",
              "value": "={{ $json.Telefono.toString().replace(/[^\\d]/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        1056
      ],
      "id": "95c2a463-c85b-4b8b-9493-491745968e94",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c8eefa99-e4dc-4ddf-9dd5-0eb745e2eef9",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2608,
        1056
      ],
      "id": "f116e812-63e0-4f3d-add0-2cd11a55f7cf",
      "name": "If13"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{ $('Obtiene Datos Iniciales').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_registro": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
            "canal": "Google Sheets",
            "telefono": "={{ $('Loop Over Items13').item.json.Telefono }}",
            "fecha_modificacion": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
            "tipo_atencion": "={{ $('Loop Over Items13').item.json['TipoAtención'] }}",
            "notas": "Registro creado desde Google Sheets",
            "intencion": "Información",
            "num_mensaje_largo": 0,
            "actitud": 1,
            "negativos_intentos": 0,
            "total_reservaciones": 0,
            "pregunta_verifica_reserva": "={{ false }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_modificacion",
              "displayName": "fecha_modificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_atencion",
              "displayName": "tipo_atencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_cita",
              "displayName": "post_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_mensaje_largo",
              "displayName": "num_mensaje_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "actitud",
              "displayName": "actitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "negativos_intentos",
              "displayName": "negativos_intentos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferencias_alimentarias",
              "displayName": "preferencias_alimentarias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_reservaciones",
              "displayName": "total_reservaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ult_reservacion",
              "displayName": "ult_reservacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "alergias",
              "displayName": "alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta_verifica_reserva",
              "displayName": "pregunta_verifica_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3120,
        1040
      ],
      "id": "ccab79a7-9d29-4e95-858f-6e64bd3a7c21",
      "name": "Insert rows in a table6",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6d51aee-383f-498d-95df-f11e34c263c2",
              "leftValue": "={{ $json['TipoAtención'].isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "68852586-24e2-49c2-9e95-6b502c35b4b2",
              "leftValue": "={{ $json.Telefono.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        1072
      ],
      "id": "3dc338f2-5032-4cda-98bc-fae13db523b7",
      "name": "If14"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e487e61-aef8-4874-b972-019cfeba6c0d",
              "leftValue": "={{ $('Loop Over Items13').item.json['TipoAtención'] }}",
              "rightValue": "={{ $json.tipo_atencion }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2816,
        1104
      ],
      "id": "75f44012-9df3-4dff-b203-55dad9eaffd8",
      "name": "If15"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g",
          "mode": "list",
          "cachedResultName": "Control Calle 9",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1312669213,
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15TzDefkI5k5T6AQt8AwVZ0BUfdSkgTUtxuxvq4wFP-g/edit#gid=1312669213"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        1056
      ],
      "id": "f1e7dd6c-3d9a-4a65-bb4d-8ee67797a315",
      "name": "Get Clientes Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OnTQvkOeBX8Kq3DU",
          "name": "Google Sheets Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        1056
      ],
      "id": "a8c25792-b161-4696-a8f6-135d94ee6e2b",
      "name": "Aggregate1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-23T00:47:34.558Z",
      "createdAt": "2025-12-23T00:47:34.558Z",
      "role": "workflow:owner",
      "workflowId": "U9iDDWNtO0Gr4ZMr",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-11T14:09:49.000Z",
  "versionId": "c2676a32-a6f6-4671-81e1-cd1d9c7daf58"
}