workflows/otros/Osaki- Cronograma AirTable.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Clientes AirTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clientes AirTable": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-17T02:22:55.841Z",
  "id": "3pVlvafqAUQGJAX4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Osaki- Cronograma AirTable",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        80
      ],
      "id": "7eb1d96a-cf65-4fb7-8836-b72227851f81",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "osaki_main",
          "mode": "list",
          "cachedResultName": "osaki_main"
        },
        "table": {
          "__rl": true,
          "value": "Reservaciones_AirTable",
          "mode": "list",
          "cachedResultName": "Reservaciones_AirTable"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        448
      ],
      "id": "25709e87-fbfa-4700-87b8-47bb84b2274b",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "osaki_main",
          "mode": "list",
          "cachedResultName": "osaki_main"
        },
        "table": {
          "__rl": true,
          "value": "Clientes_AirTable",
          "mode": "list",
          "cachedResultName": "Clientes_AirTable"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        0
      ],
      "id": "526322fa-550c-4961-b57b-242adb51985f",
      "name": "Get Clientes AirTable",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5ab38017-0ef2-4f01-b3d9-f30baccfa9fc",
              "leftValue": "={{ $json.Bloqueo }}",
              "rightValue": "Definitivo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        0
      ],
      "id": "4d7c5b91-e939-4abf-8006-99b71acc4748",
      "name": "If"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZpYgShc1li13uf3h"
  },
  "shared": [
    {
      "updatedAt": "2026-02-17T02:22:55.851Z",
      "createdAt": "2026-02-17T02:22:55.851Z",
      "role": "workflow:owner",
      "workflowId": "3pVlvafqAUQGJAX4",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": {
    "node:Cada 10 min": {
      "recurrenceRules": []
    },
    "node:Cada 1 Min": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:1 am": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-17T06:00:20.409Z",
  "versionId": "841c4f80-21f5-4753-9045-2db2a3eb7235"
}