workflows/otros/Reporta Encargado.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-24T21:07:20.000Z",
    "createdAt": "2026-02-24T21:06:53.267Z",
    "versionId": "19ccdd49-3f43-4d5f-9394-7e9b640e8b6a",
    "workflowId": "9IRkn2WtQUbKYT7W",
    "nodes": [
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -1152,
          48
        ],
        "id": "f0bd3235-9483-4035-a014-071e7c5b4b1e",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "phone_number",
                "type": "number"
              },
              {
                "name": "sessionId"
              },
              {
                "name": "canal"
              },
              {
                "name": "schema"
              },
              {
                "name": "sucursal"
              },
              {
                "name": "tabla_historica"
              },
              {
                "name": "id_cliente",
                "type": "number"
              }
            ]
          }
        },
        "id": "127ad679-fdb5-4381-8348-6364c13fb9d8",
        "typeVersion": 1.1,
        "name": "Flujo Agente Principal",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -2032,
          48
        ]
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "={{$('Flujo Agente Principal').first().json.schema }}",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "seguimiento_reportes",
            "mode": "list",
            "cachedResultName": "seguimiento_reportes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "requiere_humano": "={{ true }}",
              "canal": "whatsapp",
              "num_telefono": "={{ $('Flujo Agente Principal').item.json.phone_number }}",
              "fecha_reporte": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
              "resumen_intencion": "={{ $json.intencion }}",
              "resumen_datos_clave": "={{ $json.datos_clave }}",
              "resumen_contexto": "={{ $json.contexto }}",
              "resumen_proxima_accion": "={{ $json.proxima_accion_recomendada }}",
              "notas_tono_sentimiento": "={{ $json.notas_operativas.tono_sentimiento }}",
              "notas_urgencia": "={{ $json.notas_operativas.urgencia }}",
              "estado_seguimiento": "Pendiente",
              "texto_original": "={{ $json.resumen_final }}",
              "asignado_a": "Cajero",
              "nivel_urgencia": "={{ $json.notas_operativas.nivel_urgencia }}",
              "conversacion_id": "={{ $('Flujo Agente Principal').item.json.sessionId }}",
              "sucursal": "={{ $('Flujo Agente Principal').item.json.canal.split(' ')[1] +'-'+ $('Flujo Agente Principal').item.json.sucursal }}",
              "queja": "={{ $json.queja }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "conversacion_id",
                "displayName": "conversacion_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "canal",
                "displayName": "canal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "num_telefono",
                "displayName": "num_telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fecha_reporte",
                "displayName": "fecha_reporte",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "resumen_intencion",
                "displayName": "resumen_intencion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "resumen_datos_clave",
                "displayName": "resumen_datos_clave",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "resumen_contexto",
                "displayName": "resumen_contexto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "resumen_proxima_accion",
                "displayName": "resumen_proxima_accion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "notas_tono_sentimiento",
                "displayName": "notas_tono_sentimiento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "notas_urgencia",
                "displayName": "notas_urgencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "nivel_urgencia",
                "displayName": "nivel_urgencia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "requiere_humano",
                "displayName": "requiere_humano",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true
              },
              {
                "id": "estado_seguimiento",
                "displayName": "estado_seguimiento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "asignado_a",
                "displayName": "asignado_a",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "texto_original",
                "displayName": "texto_original",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "metadata_extra",
                "displayName": "metadata_extra",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "sucursal",
                "displayName": "sucursal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "queja",
                "displayName": "queja",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -704,
          240
        ],
        "id": "ecde03b7-af1b-4ca7-bc29-b8742db6985d",
        "name": "Registra Seguimiento",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "// n8n Code node (JavaScript)\n// Convierte el arreglo Aggregate.data[*].message{type, content} en un objeto plano:\n// { \"Humano_1\": \"...\", \"IA_1\": \"...\", \"Humano_2\": \"...\", \"IA_2\": \"...\" }\n\nconst items = $input.all();\n\n// Limpia el texto: recorta, colapsa espacios y, si viene el bloque largo,\n// extrae lo que sigue a \"Mensaje de Texto o Descripción:\"\nfunction cleanText(s) {\n  if (!s) return '';\n  let t = String(s);\n\n  const marker = 'Mensaje de Texto o Descripción';\n  const idx = t.toLowerCase().indexOf(marker.toLowerCase());\n  if (idx !== -1) {\n    t = t.slice(idx + marker.length);\n  }\n\n  // Quita separadores iniciales y colapsa espacios/nuevas líneas\n  t = t.replace(/^[\\s:.-]+/, '').replace(/\\s+/g, ' ').trim();\n  return t;\n}\n\n// Extrae mensajes desde varias formas posibles\nconst records = [];\nfor (const it of items) {\n  const j = it.json || {};\n\n  // Si viene como { data: [...] } úsalo; si no, intenta interpretar el propio objeto\n  const arr = Array.isArray(j.data) ? j.data : (Array.isArray(j) ? j : (j.data ? [j.data] : [j]));\n\n  for (const row of arr) {\n    const msg = row?.message || row;\n    const type = (msg?.type || msg?.role || '').toLowerCase();\n    const content = msg?.content ?? msg?.text ?? '';\n\n    if (!type || !content) continue;\n\n    const role = (type === 'human' || type === 'user') ? 'Humano' : 'IA';\n    records.push({ role, text: cleanText(content) });\n  }\n}\n\n// Construye objeto plano con claves enumeradas\nconst out = {};\nlet h = 1, a = 1;\nfor (const r of records) {\n  if (r.role === 'Humano') out[`Humano_${h++}`] = r.text;\n  else out[`IA_${a++}`] = r.text;\n}\n\nreturn [{ json: out }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -928,
          48
        ],
        "id": "d3e24591-96bf-40e6-83f5-8192893a4af8",
        "name": "Agrupa Conversacion"
      },
      {
        "parameters": {
          "jsCode": "// Code (JavaScript) ANTES del Summarization Chain\n// Convierte Humano_*/IA_* en un solo bloque de texto ordenado\n\nconst firstItem = $input.first();\nif (!firstItem || !firstItem.json) {\n  // Si por alguna razón no hay nada, devolvemos un texto vacío controlado\n  return [{ json: { text: '' } }];\n}\n\nconst it = firstItem.json;\n\nconst lines = Object.entries(it)\n  .filter(([k]) => /^(Humano|IA)_(\\d+)$/i.test(k))\n  .sort(\n    (a, b) =>\n      parseInt(a[0].match(/\\d+/)[0], 10) -\n      parseInt(b[0].match(/\\d+/)[0], 10),\n  )\n  .map(([k, v]) =>\n    `${k.startsWith('Humano') ? 'Humano' : 'IA'}: ${String(v ?? '').trim()}`,\n  );\n\n// Si por lo que sea no hay líneas, igual devolvemos text, pero vacío\nreturn [{ json: { text: lines.join('\\n') || '' } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -704,
          48
        ],
        "id": "feece544-a14a-497d-aa1c-0b399de7c5e8",
        "name": "Formatea Conversacion"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "74152472-bd3a-4273-a24a-b85df24325e1",
                "leftValue": "={{ $('Flujo Agente Principal').first().json.canal }}",
                "rightValue": "Restó",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -480,
          720
        ],
        "id": "700c8357-28b6-4b99-aaa0-0545b0225995",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "67869519",
          "text": "={{ $json.mensaje }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -704,
          720
        ],
        "id": "dafdc291-1fad-46fb-bb0d-9df90456cb96",
        "name": "Soporte",
        "webhookId": "8aa90276-75ad-4faf-9f8b-c07f8acd0c54",
        "credentials": {
          "telegramApi": {
            "id": "KmmVDBdxNsFsr80s",
            "name": "Telegram Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "chatId": "=7996447459",
          "text": "={{ $('Crea Mensaje').item.json.mensaje }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -48,
          544
        ],
        "id": "0f2b1604-e25c-43e2-8029-06fab79112a1",
        "name": "Osaki Resto",
        "webhookId": "8aa90276-75ad-4faf-9f8b-c07f8acd0c54",
        "credentials": {
          "telegramApi": {
            "id": "KmmVDBdxNsFsr80s",
            "name": "Telegram Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH historias AS (\n  SELECT\n    id,\n  fec_registro,\n    message->>'type'    AS type,\n    regexp_replace(\n      message->>'content',\n      '^\\[Used tools:.*\\]\\]\\s*', \n      ''                          \n    ) AS content\n  FROM {{$('Flujo Agente Principal').first().json.tabla_historica }}\n  WHERE session_id = '{{$('Flujo Agente Principal').first().json.sessionId }}'\n  ORDER BY id DESC\n  LIMIT 10\n)\nSELECT\n  fec_registro AS fecha_hora,\n  \n  id,\n  type,\n    CASE \n        WHEN type = 'human' THEN \n            TRIM(\n                REGEXP_REPLACE(\n                    -- Buscamos cualquiera de los dos prefijos y lo eliminamos\n                    REGEXP_REPLACE(content, '^(Mensaje de Texto o Descripción:|Mensaje:)', '', 'i'),\n                    '\\s+', ' ', 'g'\n                )\n            )\n        ELSE content \n    END AS content\n  \nFROM historias\nORDER BY id;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1376,
          48
        ],
        "id": "243928cd-1b09-4ca9-8e89-5376d456a131",
        "name": "Obtiene Chat Delivery",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first() || { json: {} };\nconst j = item.json || {};\nlet text = j.text ?? '';\n\ntext = String(text).trim();\n\nif (!text) {\n  // Si no hay texto, devolvemos un mensaje mínimo para que el Summarization no truene\n  text = 'No hay conversación disponible para resumir.';\n}\n\nreturn [{ json: { text } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          48
        ],
        "id": "1f4d147b-5f48-413a-83a8-5a169f69f920",
        "name": "Valida Texto"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Eres un analista que resume diálogos de atención al cliente en español, entre una IA y un Humano.\nResume el siguiente fragmento en 1–2 viñetas claras, objetivas y sin inventar datos.\nConserva números explícitos (p. ej., #personas, fechas, horas) cuando aparezcan.\n\nTexto:\n\"{{ $json.text }}\"",
          "options": {
            "systemMessage": "=## Rol del Agente de Escalamiento\n\nEres un agente especializado en analizar y consolidar múltiples resúmenes parciales de conversaciones con clientes en un solo reporte ejecutivo.\nTu objetivo es obtener una visión clara y concisa de la situación del cliente, destacando los puntos clave y recomendando la próxima acción a seguir.\n\n---\n\n\n## Formato de Salida Obligatorio: \n\n```json \n{\n\"queja\": \"\" //2-5 palabras si el cliente está haciendo una queja o un reclamo\n\"intencion\": \"Reclamos por Calidad|Fallas Técnicas App|Gestión de Pedidos|Errores de Entrega|Reservas y Eventos|Pagos y Precios|Información y Ventas|Otros\",\n\"datos_clave\": \"\", // Aquella información crítica extraída de la conversación (max 200 caracteres)\n\"contexto\": \"\", // Resumen breve del contexto relevante (max 300 caracteres)\n\"proxima_accion_recomendada\": \"\" // Sugerencia concreta de próxima acción  (Ser específica y accionable; max 100 caracteres)\n}, \n\"notas_operativas\": {\n    \"tono_sentimiento\": \"positivo|neutral|negativo\",\n    \"urgencia\": \"baja|media|alta\",\n    \"nivel_urgencia\": \"1-10\" \n}\n```\n\n## Reglas\n- Tu salida será exclusivamente usando el formato json."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -1280,
          240
        ],
        "id": "d96524ad-1d58-4553-b6f2-cb25463e5303",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1312,
          400
        ],
        "id": "41f4c3ec-71b6-4657-9473-1f54db2fe753",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "fATP1TjAWkMAqBDc",
            "name": "OpenAi Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "chatId": "5617014635",
          "text": "={{ $('Crea Mensaje').item.json.mensaje }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -48,
          704
        ],
        "id": "a5b3587d-3620-41e4-91fc-5ff2f0025193",
        "name": "Osaki Delivery Calle 9",
        "webhookId": "ebe8e6a1-30f0-4659-ba16-4aa6367ba491",
        "credentials": {
          "telegramApi": {
            "id": "KmmVDBdxNsFsr80s",
            "name": "Telegram Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "chatId": "1971847998",
          "text": "={{ $('Crea Mensaje').item.json.mensaje }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -48,
          864
        ],
        "id": "e6802657-ed5b-4f05-9fc4-8dcacded7094",
        "name": "Osaki Delivery Calle 47",
        "webhookId": "ebe8e6a1-30f0-4659-ba16-4aa6367ba491",
        "credentials": {
          "telegramApi": {
            "id": "KmmVDBdxNsFsr80s",
            "name": "Telegram Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2ae7eff9-5e2b-4f42-b720-43644889cbd7",
                "leftValue": "={{ $('Flujo Agente Principal').item.json.sucursal }}",
                "rightValue": "Calle 9",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -304,
          784
        ],
        "id": "9cdb9e64-24d2-46eb-80d9-1636c44ea6e6",
        "name": "If2"
      },
      {
        "parameters": {
          "chatId": "67869519",
          "text": "=Reportado a Osaki Correctamente",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          272,
          704
        ],
        "id": "a7891107-926d-4ed0-b87e-95938f034d44",
        "name": "Soporte1",
        "webhookId": "8aa90276-75ad-4faf-9f8b-c07f8acd0c54",
        "credentials": {
          "telegramApi": {
            "id": "KmmVDBdxNsFsr80s",
            "name": "Telegram Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d10e36db-8e9e-4eb6-9b1e-ffccf79875ad",
                "name": "=enlace",
                "value": "={{ $('Flujo Agente Principal').item.json.sessionId && $('Flujo Agente Principal').item.json.sessionId.toString().includes('whatsapp') ? 'https://wa.me/' + $('Flujo Agente Principal').item.json.sessionId.toString().split('@')[0] : 'https://wa.me/549' + $('Flujo Agente Principal').item.json.phone_number }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1152,
          720
        ],
        "id": "51617408-32d1-47a6-8615-42b2be9df13a",
        "name": "Crea Link WhatsApp"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "eb55e5e0-e175-443b-9d7c-2cca4c50d38c",
                "name": "mensaje",
                "value": "={{ \"‼ <b>REQUIERE ATENCIÓN HUMANA</b> ‼\"+ \n\"\\n<b>Número:</b> \"+ $('Flujo Agente Principal').first().json.phone_number+\n\"\\n<b>Ir a:</b> \"+$json.enlace+\n\"\\n<b>Fecha Reporte:</b> \"+new Date($('Registra Seguimiento').item.json.fecha_reporte).toISOString().replace('T', ' ').substring(0, 16) .replace('T',' ')+\n\"\\n<b>Canal:</b> \"+$('Flujo Agente Principal').first().json.canal+ \n\"\\n<b>Sucursal:</b> \"+$('Flujo Agente Principal').first().json.sucursal+ \n\"\\n\\n\"+$('Normaliza Analisis').item.json.resumen_final+\"\\n\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -928,
          720
        ],
        "id": "2f8eb8e7-1370-4ff3-9463-98ef0abd7cd5",
        "name": "Crea Mensaje"
      },
      {
        "parameters": {
          "jsCode": "// 1. Obtenemos el texto crudo\nconst text = $input.item.json.output;\n\n// 2. Función auxiliar para extraer datos ignorando errores de JSON\nfunction extraer(regex, fuente) {\n  const match = fuente.match(regex);\n  return match ? match[1].trim() : \"No proporcionado\";\n}\n\n// 3. Extraemos cada campo individualmente (usando Regex para evitar el error del JSON roto)\nconst queja = extraer(/\"queja\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst intencion = extraer(/\"intencion\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst datos_clave = extraer(/\"datos_clave\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst contexto = extraer(/\"contexto\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst proxima_accion = extraer(/\"proxima_accion_recomendada\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst tono = extraer(/\"tono_sentimiento\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst urgencia = extraer(/\"urgencia\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst nivel = extraer(/\"nivel_urgencia\"\\s*:\\s*\"?(\\d+)\"?/i, text);\n\n// 4. Construimos el bloque de texto agrupado (Resumen Ejecutivo)\nconst resumenEjecutivo = `RESUMEN EJECUTIVO\n• Intención: ${intencion}\n• Datos clave: ${datos_clave}\n• Contexto: ${contexto}\n• Próxima acción recomendada: ${proxima_accion}\n\nNOTAS OPERATIVAS\n• Tono/sentimiento: ${tono}\n• Urgencia: ${urgencia}\n• Nivel de urgencia: ${nivel}`;\n\n// 5. Retornamos TODO: campos sueltos y el resumen final\nreturn {\n  queja,\n  intencion,\n  datos_clave,\n  contexto,\n  proxima_accion_recomendada: proxima_accion,\n  notas_operativas: {\n    tono_sentimiento: tono,\n    urgencia: urgencia,\n    nivel_urgencia: nivel\n  },\n  resumen_final: resumenEjecutivo\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -928,
          240
        ],
        "id": "49cb7d4c-878c-4fd1-99ed-2e1b9efcd1cb",
        "name": "Normaliza Analisis"
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "apprK9MtBIY9lyLQT",
            "mode": "list",
            "cachedResultName": "Sistema Osaki",
            "cachedResultUrl": "https://airtable.com/apprK9MtBIY9lyLQT"
          },
          "table": {
            "__rl": true,
            "value": "tblz86YzR25zM2bPt",
            "mode": "list",
            "cachedResultName": "Escalaciones",
            "cachedResultUrl": "https://airtable.com/apprK9MtBIY9lyLQT/tblz86YzR25zM2bPt"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Teléfono": "={{ $json.num_telefono.toNumber() }}",
              "Intención": "={{ $json.resumen_intencion }}",
              "Estado": "={{ $json.estado_seguimiento }}",
              "Tono Sentimiento": "={{ $json.notas_tono_sentimiento }}",
              "Urgencia": "={{ $json.notas_urgencia }}",
              "Sucursal": "={{ $json.sucursal }}",
              "Fecha Reporte": "={{ $json.fecha_reporte }}",
              "Notas": "={{ $json.resumen_datos_clave }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Teléfono",
                "displayName": "Teléfono",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Intención",
                "displayName": "Intención",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Pendiente",
                    "value": "Pendiente"
                  },
                  {
                    "name": "En Proceso",
                    "value": "En Proceso"
                  },
                  {
                    "name": "Atendido",
                    "value": "Atendido"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Tono Sentimiento",
                "displayName": "Tono Sentimiento",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "neutral",
                    "value": "neutral"
                  },
                  {
                    "name": "negativo",
                    "value": "negativo"
                  },
                  {
                    "name": "positivo",
                    "value": "positivo"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Urgencia",
                "displayName": "Urgencia",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "baja",
                    "value": "baja"
                  },
                  {
                    "name": "media",
                    "value": "media"
                  },
                  {
                    "name": "alta",
                    "value": "alta"
                  },
                  {
                    "name": "nivel_urgencia",
                    "value": "nivel_urgencia"
                  },
                  {
                    "name": "6",
                    "value": "6"
                  },
                  {
                    "name": "5",
                    "value": "5"
                  },
                  {
                    "name": "8",
                    "value": "8"
                  },
                  {
                    "name": "9",
                    "value": "9"
                  },
                  {
                    "name": "2",
                    "value": "2"
                  },
                  {
                    "name": "7",
                    "value": "7"
                  },
                  {
                    "name": "3",
                    "value": "3"
                  },
                  {
                    "name": "1",
                    "value": "1"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Sucursal",
                "displayName": "Sucursal",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Delivery-Calle 47",
                    "value": "Delivery-Calle 47"
                  },
                  {
                    "name": "Delivery-Calle 9",
                    "value": "Delivery-Calle 9"
                  },
                  {
                    "name": "Restó-Calle 47",
                    "value": "Restó-Calle 47"
                  },
                  {
                    "name": "",
                    "value": ""
                  },
                  {
                    "name": "",
                    "value": ""
                  },
                  {
                    "name": "",
                    "value": ""
                  },
                  {
                    "name": "whatsapp",
                    "value": "whatsapp"
                  },
                  {
                    "name": "",
                    "value": ""
                  },
                  {
                    "name": "",
                    "value": ""
                  },
                  {
                    "name": "sucursal",
                    "value": "sucursal"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Fecha Reporte",
                "displayName": "Fecha Reporte",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Notas",
                "displayName": "Notas",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          -928,
          480
        ],
        "id": "2b19c871-8bba-457d-a53e-09d23a2ec631",
        "name": "Create a record",
        "credentials": {
          "airtableTokenApi": {
            "id": "KlZpJ3cetMbQRAcX",
            "name": "Osaki Tablero"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "osaki_main",
            "mode": "list",
            "cachedResultName": "osaki_main"
          },
          "table": {
            "__rl": true,
            "value": "clientes",
            "mode": "list",
            "cachedResultName": "clientes"
          },
          "where": {
            "values": [
              {
                "column": "id",
                "value": "={{ $('Flujo Agente Principal').item.json.id_cliente }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1792,
          48
        ],
        "id": "518794ee-f6a7-49da-a1ff-14c3be81b156",
        "name": "Datos Cliente",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "schema": {
            "__rl": true,
            "value": "osaki_main",
            "mode": "list",
            "cachedResultName": "osaki_main"
          },
          "table": {
            "__rl": true,
            "value": "clientes",
            "mode": "list",
            "cachedResultName": "clientes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefono": "={{ $json.fields[\"Teléfono\"] }}",
              "fecha_modificacion": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
              "notas": "={{ $json.fields.Notas }}",
              "status": "Bloqueo Temporal",
              "intencion": "={{ $json.fields[\"Intención\"] }}",
              "tipo_cliente": "Cliente",
              "sucursal_bloqueo": "=  {{ '{\"sucursal\":[\"'+ $json.fields.Sucursal+'\"]}' }}"
            },
            "matchingColumns": [
              "telefono"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "fecha_registro",
                "displayName": "fecha_registro",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "canal",
                "displayName": "canal",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "nombre",
                "displayName": "nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "correo",
                "displayName": "correo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "servicio",
                "displayName": "servicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "fecha_modificacion",
                "displayName": "fecha_modificacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "tipo_atencion",
                "displayName": "tipo_atencion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "notas",
                "displayName": "notas",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "post_cita",
                "displayName": "post_cita",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "intencion",
                "displayName": "intencion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "num_mensaje_largo",
                "displayName": "num_mensaje_largo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "actitud",
                "displayName": "actitud",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "negativos_intentos",
                "displayName": "negativos_intentos",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "preferencias_alimentarias",
                "displayName": "preferencias_alimentarias",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "total_reservaciones",
                "displayName": "total_reservaciones",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "ult_reservacion",
                "displayName": "ult_reservacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "tipo_cliente",
                "displayName": "tipo_cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "alergias",
                "displayName": "alergias",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "pregunta_verifica_reserva",
                "displayName": "pregunta_verifica_reserva",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "boolean",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "chatid",
                "displayName": "chatid",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "sucursal_bloqueo",
                "displayName": "sucursal_bloqueo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -704,
          480
        ],
        "id": "224c426d-21d7-4de0-85c6-9975a22d634c",
        "name": "Actualiza Cliente",
        "credentials": {
          "postgres": {
            "id": "sk75eTZ4yDkbl8mt",
            "name": "Postgres Osaki-TemikiaProd01"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtenemos los datos de los nodos anteriores\nconst datosCliente = $node[\"Datos Cliente\"].json;\nconst flujoAgente = $node[\"Flujo Agente Principal\"].json;\n\n// 1. Normalizar la sucursal actual\nlet sucursalActual = \"\";\nconst numero = flujoAgente.sucursal.match(/\\d+/)?.[0] || \"\";\n\n// Detectamos el tipo de canal por contenido, manteniendo el formato exacto solicitado\nif (flujoAgente.canal.includes(\"Restó\")) {\n  sucursalActual = `Restó ${numero}`;\n} else if (flujoAgente.canal.includes(\"Delivery\")) {\n  sucursalActual = `Delivery - ${numero}`;\n} else {\n  // Caso genérico por si el canal cambia en el futuro\n  sucursalActual = `${flujoAgente.canal.replace(/[^\\w\\sÀ-ÿ]/gi, '').trim()} ${numero}`;\n}\n\n// 2. Preparar el objeto de sucursal_bloqueo\n// Si el campo no existe o está vacío, inicializamos la estructura\nlet bloqueo = datosCliente.sucursal_bloqueo || { sucursales: [] };\n\n// Nos aseguramos de que 'sucursales' sea un array (en n8n a veces los objetos vacíos vienen raros)\nif (!bloqueo.sucursales || !Array.isArray(bloqueo.sucursales)) {\n  bloqueo.sucursales = [];\n}\n\n// 3. Agregar si no existe (evitar duplicados)\nif (!bloqueo.sucursales.includes(sucursalActual)) {\n  bloqueo.sucursales.push(sucursalActual);\n}\n\n// Retornamos el formato esperado por n8n\nreturn {\n  sucursal_bloqueo: bloqueo\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1584,
          48
        ],
        "id": "fe4d1d05-1edf-4d85-80c5-07827963aa84",
        "name": "Analiza Sucursales"
      }
    ],
    "connections": {
      "Aggregate": {
        "main": [
          [
            {
              "node": "Agrupa Conversacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Flujo Agente Principal": {
        "main": [
          [
            {
              "node": "Datos Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registra Seguimiento": {
        "main": [
          [
            {
              "node": "Create a record",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obtiene Chat Delivery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agrupa Conversacion": {
        "main": [
          [
            {
              "node": "Formatea Conversacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatea Conversacion": {
        "main": [
          [
            {
              "node": "Valida Texto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Osaki Resto",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtiene Chat Delivery": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Valida Texto": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Normaliza Analisis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Osaki Delivery Calle 9",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Osaki Delivery Calle 47",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Soporte": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Osaki Resto": {
        "main": [
          [
            {
              "node": "Soporte1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Osaki Delivery Calle 9": {
        "main": [
          [
            {
              "node": "Soporte1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Osaki Delivery Calle 47": {
        "main": [
          [
            {
              "node": "Soporte1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crea Link WhatsApp": {
        "main": [
          [
            {
              "node": "Crea Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crea Mensaje": {
        "main": [
          [
            {
              "node": "Soporte",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normaliza Analisis": {
        "main": [
          [
            {
              "node": "Registra Seguimiento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a record": {
        "main": [
          [
            {
              "node": "Actualiza Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Datos Cliente": {
        "main": [
          [
            {
              "node": "Analiza Sucursales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualiza Cliente": {
        "main": [
          [
            {
              "node": "Crea Link WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analiza Sucursales": {
        "main": [
          [
            {
              "node": "Obtiene Chat Delivery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Temikia Agency",
    "name": "Version 19ccdd49",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "19ccdd49-3f43-4d5f-9394-7e9b640e8b6a",
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Agrupa Conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flujo Agente Principal": {
      "main": [
        [
          {
            "node": "Datos Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registra Seguimiento": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtiene Chat Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupa Conversacion": {
      "main": [
        [
          {
            "node": "Formatea Conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatea Conversacion": {
      "main": [
        [
          {
            "node": "Valida Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Osaki Resto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtiene Chat Delivery": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida Texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normaliza Analisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Osaki Delivery Calle 9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Osaki Delivery Calle 47",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soporte": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Osaki Resto": {
      "main": [
        [
          {
            "node": "Soporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Osaki Delivery Calle 9": {
      "main": [
        [
          {
            "node": "Soporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Osaki Delivery Calle 47": {
      "main": [
        [
          {
            "node": "Soporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea Link WhatsApp": {
      "main": [
        [
          {
            "node": "Crea Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea Mensaje": {
      "main": [
        [
          {
            "node": "Soporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza Analisis": {
      "main": [
        [
          {
            "node": "Registra Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Actualiza Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos Cliente": {
      "main": [
        [
          {
            "node": "Analiza Sucursales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualiza Cliente": {
      "main": [
        [
          {
            "node": "Crea Link WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiza Sucursales": {
      "main": [
        [
          {
            "node": "Obtiene Chat Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T18:19:46.221Z",
  "id": "9IRkn2WtQUbKYT7W",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reporta Encargado",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1152,
        48
      ],
      "id": "f0bd3235-9483-4035-a014-071e7c5b4b1e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "phone_number",
              "type": "number"
            },
            {
              "name": "sessionId"
            },
            {
              "name": "canal"
            },
            {
              "name": "schema"
            },
            {
              "name": "sucursal"
            },
            {
              "name": "tabla_historica"
            },
            {
              "name": "id_cliente",
              "type": "number"
            }
          ]
        }
      },
      "id": "127ad679-fdb5-4381-8348-6364c13fb9d8",
      "typeVersion": 1.1,
      "name": "Flujo Agente Principal",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2032,
        48
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "={{$('Flujo Agente Principal').first().json.schema }}",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "seguimiento_reportes",
          "mode": "list",
          "cachedResultName": "seguimiento_reportes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "requiere_humano": "={{ true }}",
            "canal": "whatsapp",
            "num_telefono": "={{ $('Flujo Agente Principal').item.json.phone_number }}",
            "fecha_reporte": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
            "resumen_intencion": "={{ $json.intencion }}",
            "resumen_datos_clave": "={{ $json.datos_clave }}",
            "resumen_contexto": "={{ $json.contexto }}",
            "resumen_proxima_accion": "={{ $json.proxima_accion_recomendada }}",
            "notas_tono_sentimiento": "={{ $json.notas_operativas.tono_sentimiento }}",
            "notas_urgencia": "={{ $json.notas_operativas.urgencia }}",
            "estado_seguimiento": "Pendiente",
            "texto_original": "={{ $json.resumen_final }}",
            "asignado_a": "Cajero",
            "nivel_urgencia": "={{ $json.notas_operativas.nivel_urgencia }}",
            "conversacion_id": "={{ $('Flujo Agente Principal').item.json.sessionId }}",
            "sucursal": "={{ $('Flujo Agente Principal').item.json.canal.split(' ')[1] +'-'+ $('Flujo Agente Principal').item.json.sucursal }}",
            "queja": "={{ $json.queja }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversacion_id",
              "displayName": "conversacion_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_telefono",
              "displayName": "num_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_reporte",
              "displayName": "fecha_reporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen_intencion",
              "displayName": "resumen_intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen_datos_clave",
              "displayName": "resumen_datos_clave",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen_contexto",
              "displayName": "resumen_contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen_proxima_accion",
              "displayName": "resumen_proxima_accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_tono_sentimiento",
              "displayName": "notas_tono_sentimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_urgencia",
              "displayName": "notas_urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nivel_urgencia",
              "displayName": "nivel_urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "requiere_humano",
              "displayName": "requiere_humano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado_seguimiento",
              "displayName": "estado_seguimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asignado_a",
              "displayName": "asignado_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "texto_original",
              "displayName": "texto_original",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata_extra",
              "displayName": "metadata_extra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sucursal",
              "displayName": "sucursal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "queja",
              "displayName": "queja",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        240
      ],
      "id": "ecde03b7-af1b-4ca7-bc29-b8742db6985d",
      "name": "Registra Seguimiento",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Convierte el arreglo Aggregate.data[*].message{type, content} en un objeto plano:\n// { \"Humano_1\": \"...\", \"IA_1\": \"...\", \"Humano_2\": \"...\", \"IA_2\": \"...\" }\n\nconst items = $input.all();\n\n// Limpia el texto: recorta, colapsa espacios y, si viene el bloque largo,\n// extrae lo que sigue a \"Mensaje de Texto o Descripción:\"\nfunction cleanText(s) {\n  if (!s) return '';\n  let t = String(s);\n\n  const marker = 'Mensaje de Texto o Descripción';\n  const idx = t.toLowerCase().indexOf(marker.toLowerCase());\n  if (idx !== -1) {\n    t = t.slice(idx + marker.length);\n  }\n\n  // Quita separadores iniciales y colapsa espacios/nuevas líneas\n  t = t.replace(/^[\\s:.-]+/, '').replace(/\\s+/g, ' ').trim();\n  return t;\n}\n\n// Extrae mensajes desde varias formas posibles\nconst records = [];\nfor (const it of items) {\n  const j = it.json || {};\n\n  // Si viene como { data: [...] } úsalo; si no, intenta interpretar el propio objeto\n  const arr = Array.isArray(j.data) ? j.data : (Array.isArray(j) ? j : (j.data ? [j.data] : [j]));\n\n  for (const row of arr) {\n    const msg = row?.message || row;\n    const type = (msg?.type || msg?.role || '').toLowerCase();\n    const content = msg?.content ?? msg?.text ?? '';\n\n    if (!type || !content) continue;\n\n    const role = (type === 'human' || type === 'user') ? 'Humano' : 'IA';\n    records.push({ role, text: cleanText(content) });\n  }\n}\n\n// Construye objeto plano con claves enumeradas\nconst out = {};\nlet h = 1, a = 1;\nfor (const r of records) {\n  if (r.role === 'Humano') out[`Humano_${h++}`] = r.text;\n  else out[`IA_${a++}`] = r.text;\n}\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        48
      ],
      "id": "d3e24591-96bf-40e6-83f5-8192893a4af8",
      "name": "Agrupa Conversacion"
    },
    {
      "parameters": {
        "jsCode": "// Code (JavaScript) ANTES del Summarization Chain\n// Convierte Humano_*/IA_* en un solo bloque de texto ordenado\n\nconst firstItem = $input.first();\nif (!firstItem || !firstItem.json) {\n  // Si por alguna razón no hay nada, devolvemos un texto vacío controlado\n  return [{ json: { text: '' } }];\n}\n\nconst it = firstItem.json;\n\nconst lines = Object.entries(it)\n  .filter(([k]) => /^(Humano|IA)_(\\d+)$/i.test(k))\n  .sort(\n    (a, b) =>\n      parseInt(a[0].match(/\\d+/)[0], 10) -\n      parseInt(b[0].match(/\\d+/)[0], 10),\n  )\n  .map(([k, v]) =>\n    `${k.startsWith('Humano') ? 'Humano' : 'IA'}: ${String(v ?? '').trim()}`,\n  );\n\n// Si por lo que sea no hay líneas, igual devolvemos text, pero vacío\nreturn [{ json: { text: lines.join('\\n') || '' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        48
      ],
      "id": "feece544-a14a-497d-aa1c-0b399de7c5e8",
      "name": "Formatea Conversacion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "74152472-bd3a-4273-a24a-b85df24325e1",
              "leftValue": "={{ $('Flujo Agente Principal').first().json.canal }}",
              "rightValue": "Restó",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        720
      ],
      "id": "700c8357-28b6-4b99-aaa0-0545b0225995",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "67869519",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        720
      ],
      "id": "dafdc291-1fad-46fb-bb0d-9df90456cb96",
      "name": "Soporte",
      "webhookId": "8aa90276-75ad-4faf-9f8b-c07f8acd0c54",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7996447459",
        "text": "={{ $('Crea Mensaje').item.json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        544
      ],
      "id": "0f2b1604-e25c-43e2-8029-06fab79112a1",
      "name": "Osaki Resto",
      "webhookId": "8aa90276-75ad-4faf-9f8b-c07f8acd0c54",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH historias AS (\n  SELECT\n    id,\n  fec_registro,\n    message->>'type'    AS type,\n    regexp_replace(\n      message->>'content',\n      '^\\[Used tools:.*\\]\\]\\s*', \n      ''                          \n    ) AS content\n  FROM {{$('Flujo Agente Principal').first().json.tabla_historica }}\n  WHERE session_id = '{{$('Flujo Agente Principal').first().json.sessionId }}'\n  ORDER BY id DESC\n  LIMIT 10\n)\nSELECT\n  fec_registro AS fecha_hora,\n  \n  id,\n  type,\n    CASE \n        WHEN type = 'human' THEN \n            TRIM(\n                REGEXP_REPLACE(\n                    -- Buscamos cualquiera de los dos prefijos y lo eliminamos\n                    REGEXP_REPLACE(content, '^(Mensaje de Texto o Descripción:|Mensaje:)', '', 'i'),\n                    '\\s+', ' ', 'g'\n                )\n            )\n        ELSE content \n    END AS content\n  \nFROM historias\nORDER BY id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        48
      ],
      "id": "243928cd-1b09-4ca9-8e89-5376d456a131",
      "name": "Obtiene Chat Delivery",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first() || { json: {} };\nconst j = item.json || {};\nlet text = j.text ?? '';\n\ntext = String(text).trim();\n\nif (!text) {\n  // Si no hay texto, devolvemos un mensaje mínimo para que el Summarization no truene\n  text = 'No hay conversación disponible para resumir.';\n}\n\nreturn [{ json: { text } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        48
      ],
      "id": "1f4d147b-5f48-413a-83a8-5a169f69f920",
      "name": "Valida Texto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un analista que resume diálogos de atención al cliente en español, entre una IA y un Humano.\nResume el siguiente fragmento en 1–2 viñetas claras, objetivas y sin inventar datos.\nConserva números explícitos (p. ej., #personas, fechas, horas) cuando aparezcan.\n\nTexto:\n\"{{ $json.text }}\"",
        "options": {
          "systemMessage": "=## Rol del Agente de Escalamiento\n\nEres un agente especializado en analizar y consolidar múltiples resúmenes parciales de conversaciones con clientes en un solo reporte ejecutivo.\nTu objetivo es obtener una visión clara y concisa de la situación del cliente, destacando los puntos clave y recomendando la próxima acción a seguir.\n\n---\n\n\n## Formato de Salida Obligatorio: \n\n```json \n{\n\"queja\": \"\" //2-5 palabras si el cliente está haciendo una queja o un reclamo\n\"intencion\": \"Reclamos por Calidad|Fallas Técnicas App|Gestión de Pedidos|Errores de Entrega|Reservas y Eventos|Pagos y Precios|Información y Ventas|Otros\",\n\"datos_clave\": \"\", // Aquella información crítica extraída de la conversación (max 200 caracteres)\n\"contexto\": \"\", // Resumen breve del contexto relevante (max 300 caracteres)\n\"proxima_accion_recomendada\": \"\" // Sugerencia concreta de próxima acción  (Ser específica y accionable; max 100 caracteres)\n}, \n\"notas_operativas\": {\n    \"tono_sentimiento\": \"positivo|neutral|negativo\",\n    \"urgencia\": \"baja|media|alta\",\n    \"nivel_urgencia\": \"1-10\" \n}\n```\n\n## Reglas\n- Tu salida será exclusivamente usando el formato json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1280,
        240
      ],
      "id": "d96524ad-1d58-4553-b6f2-cb25463e5303",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1312,
        400
      ],
      "id": "41f4c3ec-71b6-4657-9473-1f54db2fe753",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fATP1TjAWkMAqBDc",
          "name": "OpenAi Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5617014635",
        "text": "={{ $('Crea Mensaje').item.json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        704
      ],
      "id": "a5b3587d-3620-41e4-91fc-5ff2f0025193",
      "name": "Osaki Delivery Calle 9",
      "webhookId": "ebe8e6a1-30f0-4659-ba16-4aa6367ba491",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1971847998",
        "text": "={{ $('Crea Mensaje').item.json.mensaje }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        864
      ],
      "id": "e6802657-ed5b-4f05-9fc4-8dcacded7094",
      "name": "Osaki Delivery Calle 47",
      "webhookId": "ebe8e6a1-30f0-4659-ba16-4aa6367ba491",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ae7eff9-5e2b-4f42-b720-43644889cbd7",
              "leftValue": "={{ $('Flujo Agente Principal').item.json.sucursal }}",
              "rightValue": "Calle 9",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        784
      ],
      "id": "9cdb9e64-24d2-46eb-80d9-1636c44ea6e6",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "67869519",
        "text": "=Reportado a Osaki Correctamente",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        704
      ],
      "id": "a7891107-926d-4ed0-b87e-95938f034d44",
      "name": "Soporte1",
      "webhookId": "8aa90276-75ad-4faf-9f8b-c07f8acd0c54",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d10e36db-8e9e-4eb6-9b1e-ffccf79875ad",
              "name": "=enlace",
              "value": "={{ $('Flujo Agente Principal').item.json.sessionId && $('Flujo Agente Principal').item.json.sessionId.toString().includes('whatsapp') ? 'https://wa.me/' + $('Flujo Agente Principal').item.json.sessionId.toString().split('@')[0] : 'https://wa.me/549' + $('Flujo Agente Principal').item.json.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        720
      ],
      "id": "51617408-32d1-47a6-8615-42b2be9df13a",
      "name": "Crea Link WhatsApp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb55e5e0-e175-443b-9d7c-2cca4c50d38c",
              "name": "mensaje",
              "value": "={{ \"‼ <b>REQUIERE ATENCIÓN HUMANA</b> ‼\"+ \n\"\\n<b>Número:</b> \"+ $('Flujo Agente Principal').first().json.phone_number+\n\"\\n<b>Ir a:</b> \"+$json.enlace+\n\"\\n<b>Fecha Reporte:</b> \"+new Date($('Registra Seguimiento').item.json.fecha_reporte).toISOString().replace('T', ' ').substring(0, 16) .replace('T',' ')+\n\"\\n<b>Canal:</b> \"+$('Flujo Agente Principal').first().json.canal+ \n\"\\n<b>Sucursal:</b> \"+$('Flujo Agente Principal').first().json.sucursal+ \n\"\\n\\n\"+$('Normaliza Analisis').item.json.resumen_final+\"\\n\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        720
      ],
      "id": "2f8eb8e7-1370-4ff3-9463-98ef0abd7cd5",
      "name": "Crea Mensaje"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el texto crudo\nconst text = $input.item.json.output;\n\n// 2. Función auxiliar para extraer datos ignorando errores de JSON\nfunction extraer(regex, fuente) {\n  const match = fuente.match(regex);\n  return match ? match[1].trim() : \"No proporcionado\";\n}\n\n// 3. Extraemos cada campo individualmente (usando Regex para evitar el error del JSON roto)\nconst queja = extraer(/\"queja\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst intencion = extraer(/\"intencion\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst datos_clave = extraer(/\"datos_clave\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst contexto = extraer(/\"contexto\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst proxima_accion = extraer(/\"proxima_accion_recomendada\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst tono = extraer(/\"tono_sentimiento\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst urgencia = extraer(/\"urgencia\"\\s*:\\s*\"([^\"]+)\"/i, text);\nconst nivel = extraer(/\"nivel_urgencia\"\\s*:\\s*\"?(\\d+)\"?/i, text);\n\n// 4. Construimos el bloque de texto agrupado (Resumen Ejecutivo)\nconst resumenEjecutivo = `RESUMEN EJECUTIVO\n• Intención: ${intencion}\n• Datos clave: ${datos_clave}\n• Contexto: ${contexto}\n• Próxima acción recomendada: ${proxima_accion}\n\nNOTAS OPERATIVAS\n• Tono/sentimiento: ${tono}\n• Urgencia: ${urgencia}\n• Nivel de urgencia: ${nivel}`;\n\n// 5. Retornamos TODO: campos sueltos y el resumen final\nreturn {\n  queja,\n  intencion,\n  datos_clave,\n  contexto,\n  proxima_accion_recomendada: proxima_accion,\n  notas_operativas: {\n    tono_sentimiento: tono,\n    urgencia: urgencia,\n    nivel_urgencia: nivel\n  },\n  resumen_final: resumenEjecutivo\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        240
      ],
      "id": "49cb7d4c-878c-4fd1-99ed-2e1b9efcd1cb",
      "name": "Normaliza Analisis"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprK9MtBIY9lyLQT",
          "mode": "list",
          "cachedResultName": "Sistema Osaki",
          "cachedResultUrl": "https://airtable.com/apprK9MtBIY9lyLQT"
        },
        "table": {
          "__rl": true,
          "value": "tblz86YzR25zM2bPt",
          "mode": "list",
          "cachedResultName": "Escalaciones",
          "cachedResultUrl": "https://airtable.com/apprK9MtBIY9lyLQT/tblz86YzR25zM2bPt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Teléfono": "={{ $json.num_telefono.toNumber() }}",
            "Intención": "={{ $json.resumen_intencion }}",
            "Estado": "={{ $json.estado_seguimiento }}",
            "Tono Sentimiento": "={{ $json.notas_tono_sentimiento }}",
            "Urgencia": "={{ $json.notas_urgencia }}",
            "Sucursal": "={{ $json.sucursal }}",
            "Fecha Reporte": "={{ $json.fecha_reporte }}",
            "Notas": "={{ $json.resumen_datos_clave }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Intención",
              "displayName": "Intención",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "En Proceso",
                  "value": "En Proceso"
                },
                {
                  "name": "Atendido",
                  "value": "Atendido"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tono Sentimiento",
              "displayName": "Tono Sentimiento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "neutral",
                  "value": "neutral"
                },
                {
                  "name": "negativo",
                  "value": "negativo"
                },
                {
                  "name": "positivo",
                  "value": "positivo"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Urgencia",
              "displayName": "Urgencia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "baja",
                  "value": "baja"
                },
                {
                  "name": "media",
                  "value": "media"
                },
                {
                  "name": "alta",
                  "value": "alta"
                },
                {
                  "name": "nivel_urgencia",
                  "value": "nivel_urgencia"
                },
                {
                  "name": "6",
                  "value": "6"
                },
                {
                  "name": "5",
                  "value": "5"
                },
                {
                  "name": "8",
                  "value": "8"
                },
                {
                  "name": "9",
                  "value": "9"
                },
                {
                  "name": "2",
                  "value": "2"
                },
                {
                  "name": "7",
                  "value": "7"
                },
                {
                  "name": "3",
                  "value": "3"
                },
                {
                  "name": "1",
                  "value": "1"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sucursal",
              "displayName": "Sucursal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Delivery-Calle 47",
                  "value": "Delivery-Calle 47"
                },
                {
                  "name": "Delivery-Calle 9",
                  "value": "Delivery-Calle 9"
                },
                {
                  "name": "Restó-Calle 47",
                  "value": "Restó-Calle 47"
                },
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "whatsapp",
                  "value": "whatsapp"
                },
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "sucursal",
                  "value": "sucursal"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha Reporte",
              "displayName": "Fecha Reporte",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notas",
              "displayName": "Notas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -928,
        480
      ],
      "id": "2b19c871-8bba-457d-a53e-09d23a2ec631",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "KlZpJ3cetMbQRAcX",
          "name": "Osaki Tablero"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "osaki_main",
          "mode": "list",
          "cachedResultName": "osaki_main"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Flujo Agente Principal').item.json.id_cliente }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1792,
        48
      ],
      "id": "518794ee-f6a7-49da-a1ff-14c3be81b156",
      "name": "Datos Cliente",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "osaki_main",
          "mode": "list",
          "cachedResultName": "osaki_main"
        },
        "table": {
          "__rl": true,
          "value": "clientes",
          "mode": "list",
          "cachedResultName": "clientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.fields[\"Teléfono\"] }}",
            "fecha_modificacion": "={{ $now.setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.000'Z'\") }}",
            "notas": "={{ $json.fields.Notas }}",
            "status": "Bloqueo Temporal",
            "intencion": "={{ $json.fields[\"Intención\"] }}",
            "tipo_cliente": "Cliente",
            "sucursal_bloqueo": "=  {{ '{\"sucursal\":[\"'+ $json.fields.Sucursal+'\"]}' }}"
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_modificacion",
              "displayName": "fecha_modificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_atencion",
              "displayName": "tipo_atencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_cita",
              "displayName": "post_cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "num_mensaje_largo",
              "displayName": "num_mensaje_largo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "actitud",
              "displayName": "actitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "negativos_intentos",
              "displayName": "negativos_intentos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "preferencias_alimentarias",
              "displayName": "preferencias_alimentarias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_reservaciones",
              "displayName": "total_reservaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ult_reservacion",
              "displayName": "ult_reservacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alergias",
              "displayName": "alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pregunta_verifica_reserva",
              "displayName": "pregunta_verifica_reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatid",
              "displayName": "chatid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sucursal_bloqueo",
              "displayName": "sucursal_bloqueo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        480
      ],
      "id": "224c426d-21d7-4de0-85c6-9975a22d634c",
      "name": "Actualiza Cliente",
      "credentials": {
        "postgres": {
          "id": "sk75eTZ4yDkbl8mt",
          "name": "Postgres Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos los datos de los nodos anteriores\nconst datosCliente = $node[\"Datos Cliente\"].json;\nconst flujoAgente = $node[\"Flujo Agente Principal\"].json;\n\n// 1. Normalizar la sucursal actual\nlet sucursalActual = \"\";\nconst numero = flujoAgente.sucursal.match(/\\d+/)?.[0] || \"\";\n\n// Detectamos el tipo de canal por contenido, manteniendo el formato exacto solicitado\nif (flujoAgente.canal.includes(\"Restó\")) {\n  sucursalActual = `Restó ${numero}`;\n} else if (flujoAgente.canal.includes(\"Delivery\")) {\n  sucursalActual = `Delivery - ${numero}`;\n} else {\n  // Caso genérico por si el canal cambia en el futuro\n  sucursalActual = `${flujoAgente.canal.replace(/[^\\w\\sÀ-ÿ]/gi, '').trim()} ${numero}`;\n}\n\n// 2. Preparar el objeto de sucursal_bloqueo\n// Si el campo no existe o está vacío, inicializamos la estructura\nlet bloqueo = datosCliente.sucursal_bloqueo || { sucursales: [] };\n\n// Nos aseguramos de que 'sucursales' sea un array (en n8n a veces los objetos vacíos vienen raros)\nif (!bloqueo.sucursales || !Array.isArray(bloqueo.sucursales)) {\n  bloqueo.sucursales = [];\n}\n\n// 3. Agregar si no existe (evitar duplicados)\nif (!bloqueo.sucursales.includes(sucursalActual)) {\n  bloqueo.sucursales.push(sucursalActual);\n}\n\n// Retornamos el formato esperado por n8n\nreturn {\n  sucursal_bloqueo: bloqueo\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        48
      ],
      "id": "fe4d1d05-1edf-4d85-80c5-07827963aa84",
      "name": "Analiza Sucursales"
    }
  ],
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ZpYgShc1li13uf3h"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T18:19:46.230Z",
      "createdAt": "2025-12-11T18:19:46.230Z",
      "role": "workflow:owner",
      "workflowId": "9IRkn2WtQUbKYT7W",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-24T21:06:53.266Z",
  "versionId": "19ccdd49-3f43-4d5f-9394-7e9b640e8b6a"
}