workflows/otros/TestConexion.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Data Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Filter": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-12-15T21:17:39.626Z",
  "id": "3M5ToGizVpHZEHAD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TestConexion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Osaki_Delivery_C9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -272,
        16
      ],
      "id": "4610df1b-dc1d-47ef-8c9c-adf5403a88c4",
      "name": "Webhook",
      "webhookId": "569e232e-f612-4118-9d9e-e359400db695",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Data Filter').first().json.url_server }}/message/sendText/{{ $('Data Filter').first().json.instance_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Data Filter').first().json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "=I'm Alive"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        16
      ],
      "id": "e8f27e5a-2ba2-4661-b2cc-c7f113faf5a0",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5c63893-f799-4767-927a-5be0dc307eda",
              "name": "chat_id",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "04d27d7e-bbb1-4c40-aaa2-ed6356312a33",
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "cbdf0f25-9357-4277-a09d-5adfe714fb74",
              "name": "apiKey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "c53ff8c5-80b0-46a4-bbe0-7142aae5e12b",
              "name": "url_server",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "b6a985fc-5b5a-4d02-9f9c-8ba7a414b7f5",
              "name": "=message_type",
              "value": "={{\n  $json.body.data.message.extendedTextMessage ? 'text' :\n  $json.body.data.message.conversation        ? 'text' :\n  $json.body.data.message.audioMessage        ? 'audio' :\n  $json.body.data.message.imageMessage        ? 'image' :\n  $json.body.data.message.stickerMessage      ? 'sticker' :\n  $json.body.data.message.documentMessage     ? 'document' :\n  $json.body.data.message.reactionMessage     ? 'reaction' :\n  $json.body.data.message.videoMessage        ? 'video' :\n  ''\n}}",
              "type": "string"
            },
            {
              "id": "86215e6f-3ca0-44a2-a094-07db02705a4c",
              "name": "message_content",
              "value": "={{ $json.body.data.message.extendedTextMessage?.text || $json.body.data.message.conversation || $json.body.data.message.imageMessage?.caption || $json.body.data.message.reactionMessage?.text || '' }}",
              "type": "string"
            },
            {
              "id": "7c289f1e-d818-487b-9f48-9b2924342cee",
              "name": "message_timestamp",
              "value": "={{ $json.body.date_time.toDateTime().toISO() }}",
              "type": "string"
            },
            {
              "id": "49a54042-efa6-44a7-b638-1e162d00f7f5",
              "name": "user_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "277f8aea-4ffe-49d6-8709-205a590a3275",
              "name": "message_id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "7ef3b7b7-c7ef-4bd1-adad-e9ac784fa58d",
              "name": "=phone_number",
              "value": "={{\n  (() => {\n    const get = (...xs) => xs.find(v => typeof v === 'string' && v.length) || '';\n\n    // Acceder correctamente a los campos dentro de body.data.key\n    const remoteJid = get($json.body?.data?.key?.remoteJid);\n    const remoteJidAlt = get($json.body?.data?.key?.remoteJidAlt);\n    const senderPn = get($json.body?.data?.key?.senderPn, $json.body?.data?.senderPn, $json.key?.senderPn, $json.senderPn);\n\n    // Función para elegir la mejor fuente\n    const chooseBestSource = (jid, jidAlt, sender) => {\n      const jidHasWhatsapp = jid && jid.toLowerCase().includes('whatsapp');\n      const jidAltHasWhatsapp = jidAlt && jidAlt.toLowerCase().includes('whatsapp');\n      \n      if (jidHasWhatsapp) {\n        return jid;\n      } else if (jidAltHasWhatsapp) {\n        return jidAlt;\n      } else {\n        // Si ninguno tiene whatsapp, usar lógica original\n        return /@lid$/i.test(jid || '') ? sender : (jid || sender || '');\n      }\n    };\n\n    const src = chooseBestSource(remoteJid, remoteJidAlt, senderPn);\n    \n    // Si no se encontró ninguna fuente válida\n    if (!src) return '';\n\n    // Extraer la parte antes del @\n    const beforeAt = src.includes('@') ? src.split('@')[0] : src;\n    \n    // Remover el + inicial si existe\n    const withoutPlus = beforeAt.startsWith('+') ? beforeAt.substring(1) : beforeAt;\n    \n    // Extraer solo los dígitos\n    const onlyDigits = withoutPlus.replace(/\\D/g, '');\n    \n    // Tomar los últimos 10 dígitos\n    return onlyDigits.slice(-10);\n  })()\n}}",
              "type": "number"
            },
            {
              "id": "595c3ef9-7c55-4edd-9a9f-3be9f622173f",
              "name": "schema",
              "value": "osaki_main",
              "type": "string"
            },
            {
              "id": "eeb73ea4-8db3-48c5-aff5-f7a682877846",
              "name": "message_lenght",
              "value": "={{ (($json.body.data.message.extendedTextMessage?.text || '')||( $json.body.data.message.imageMessage?.caption || '') || ($json.body.data.message.conversation || '')).length }}",
              "type": "number"
            },
            {
              "id": "3630aab8-2b55-4c25-92a8-6736a9b312df",
              "name": "sessionId",
              "value": "={{ [$json.body.data.key.remoteJid, $json.body.data.key.remoteJidAlt].find(id => id && id.includes('whatsapp')) || $json.body.data.key.remoteJid}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        16
      ],
      "id": "30fc51d0-8b0b-43a0-9816-e5621de382c2",
      "name": "Data Filter",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        336
      ],
      "id": "1ae45d2e-07fa-4168-8273-05c3632afd4d",
      "name": "Telegram Trigger",
      "webhookId": "4f005dfa-1a9a-4460-a2b4-1e6e93cbf7ba",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Mensaje Recibido",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        336
      ],
      "id": "28b60930-4fab-47e6-93f1-0c3a8d505c55",
      "name": "Send a text message",
      "webhookId": "7becc367-d7b2-406b-be84-0c4e0f43dadc",
      "credentials": {
        "telegramApi": {
          "id": "KmmVDBdxNsFsr80s",
          "name": "Telegram Osaki-TemikiaProd01"
        }
      }
    }
  ],
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-15T21:17:39.629Z",
      "createdAt": "2025-12-15T21:17:39.629Z",
      "role": "workflow:owner",
      "workflowId": "3M5ToGizVpHZEHAD",
      "projectId": "ROVo9T66IPW6MHN4"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-20T16:30:28.984Z",
  "versionId": "48185f0e-8980-4b9c-b785-134852305d86"
}